li.dropdown-component.dropdown(
  class   = resolveClass()
  onClick = toggle
  )

  // may navigate on click
  // FIXME use DRY here!
  // TODO see docs
  if props.route
    Link( to=props.route class = resolveLinkClass()  )
      = props.text

      if props.caret
        span.caret

  else
    a( class = resolveLinkClass() )
      = props.text

      if props.caret
        span.caret

  if state.open
    ul.dropdown-menu

      if props.children
        = props.children

      else if props.items
        each text, val in props.items
          li
            Link( to = val )
              = text







