<div class="widget">
    <div class="widget__front">
        <div class="widget__indent">
            <div class="widget__header">
                <% if @helpers.can({ action: 'edit', type: 'dashboard'}) or @helpers.can({ action: 'delete', type: 'dashboard'}) : %>
                <div class="widget__settings dropdown pull-right">
                    <a class="widget__settingsToggle dropdown-toggle" data-toggle="dropdown" id="report-widget-dropdown"></a>
                    <ul class="dropdown-menu" aria-labelledby="report-widget-dropdown">
                        <% if @helpers.can({ action: 'edit', type: 'dashboard'}) : %>
                            <li><a href="#" class="js-widget-settings"><%= App.t 'dashboards.widgets.edit_widget' %></a></li>
                        <% end %>
                        <% if @helpers.can({ action: 'delete', type: 'dashboard'}) : %>
                            <li><a href="#" class="js-remove-dashboard-widget"><%= App.t 'dashboards.widgets.delete_widget' %></a></li>
                        <% end %>
                    </ul>
                </div>
                <% end %>

                <h2 class="widget__name handle">
                    <% if @DISPLAY_NAME : %>
                        <%= @locale[@DISPLAY_NAME] or @DISPLAY_NAME %>
                    <% else : %>
                        <%- App.t "dashboards.widgets.<stattype_#{@STATTYPE_ID}>" %>
                    <% end %>
                </h2>

                <% if @DISPLAY_NAME : %>
                    <div class="widget__advanced">
                        <h3 class="widget__type"><%- App.t "dashboards.widgets.<stattype_#{@STATTYPE_ID}>" %></h3>
                    </div>
                <% end %>

            </div>
            <div class="widgetContent" data-region="content"></div>
        </div>
    </div>
    <div class="widget__back">
        <div class="widget__indent">
            <div class="widget__header">
                <h2 class="widget__name"><%- App.t 'dashboards.widgets.commonWidgetSettings.label' %></h2>
            </div>
            <div class="widgetContent" data-region="settings"></div>
        </div>
    </div>
</div>
