@charset "UTF-8";

@import "../base/mixins";
@import "../base/variables";

.simplecolorpicker {
  &.icon {
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px $greyBorder;
  }

  &.picker {
    border-radius: none;
  }

  &:hover,
  &.selected {
    border-color: 1px solid $blue;
  }
}
