<% if App.Helpers.checkBrowser() : %>
    <div class="auth__block">
        <div class="auth__logo <%= App.Setting.get 'product' %>"></div>
        <form class="auth__form form" autocomplete="off">
            <h2 class="auth__title"><%= App.t 'login.auth_title' %></h2>
            <div class="auth__row [ form__row vertical ]">
                <label class="form__label" for="form__login"><%- App.t 'login.login_label' %></label>
                <div class="form__elem">
                    <input tabindex="1" type="text" name="username" tabindex="1" placeholder="<%- App.t 'login.login_placeholder' %>">
                </div>
            </div>
            <div class="auth__row [ form__row vertical ]">
                <label class="form__label" for="form__password"><%- App.t 'login.password_label' %></label>
                <div class="form__elem">
                    <input tabindex="2" type="password" name="password" tabindex="2" placeholder="<%- App.t 'login.password_placeholder' %>">
                </div>
            </div>
            <div class="form__row submit">
                <button class="[ button _success ]" data-action="login" tabindex="3"><%= App.t 'login.submit_button' %></button>
            </div>
        </form>
    </div>
<% else : %>
    <div class="auth">
        <div class="auth__title"><h2></h2></div>
        <div class="auth__browser-warning"><%= App.t 'login.browser_not_supported' %></div>
    </div>
<% end %>
