<input type="checkbox" class="popup__toggle">
<div class="popup"><div class="popup__position">
    <div class="popup__wrap">
        <div class="popup__indent">
            <h2 class="popup__title"><%= @title %></h2>
            <form class="form">
                <div class="popup__content">
                    <p><%= App.t 'settings.network.global_network_info' %></p>

                    <div class="form__row">
                        <label for="dns_servers" class="form__label">
                            <%= App.t 'settings.network.dns_servers' %>
                        </label>
                        <div class="form__elem">
                            <textarea name="dns_servers" data-error-style="tooltip" data-tooltip-position="left"></textarea>
                        </div>
                    </div>
                    <div class="form__row">
                        <label for="dns_suffix" class="form__label"><%= App.t 'settings.network.dns_suffix' %></label>
                        <div class="form__elem">
                            <textarea name="dns_suffix" data-error-style="tooltip" data-tooltip-position="left"></textarea>
                        </div>
                    </div>
                    <div class="form__row">
                        <label for="ntp_servers" class="form__label"><%= App.t 'settings.network.ntp_servers' %></label>
                        <div class="form__elem">
                            <textarea name="ntp_servers" data-error-style="tooltip" data-tooltip-position="left"></textarea>
                        </div>
                    </div>
                </div>

                <div class="popup__footer">
                    <button class="[ button _success ]" data-action="save"><%- App.t 'global.save' %></button>
                    <button class="button" data-action="cancel"><%- App.t 'global.cancel' %></button>
                </div>
            </form>

            <label for="popup" class="popup__close"></label>
        </div>
    </div>
</div></div>
