
<h2 class="form__title"><%= App.t 'settings.network.common-params' %></h2>

<div class="network__toolbar">
    <button class="[ button ]" data-action="change_global">Изменить</button>
</div>


<div class="form__row">
    <label class="[ form__label _alignLeft size-normal ]"><%= App.t 'settings.network.dns_servers' %></label>
    <div class="form__elem">
        <% if @dns_servers?.length : %>
            <ul>
                <% for server in @dns_servers : %>
                    <li><%- server %></li>
                <% end %>
            </ul>
        <% else : %>
            <%= App.t 'settings.network.not_specified' %>
        <% end %>
    </div>
</div>
<div class="form__row">
    <label class="[ form__label _alignLeft size-normal ]"><%= App.t 'settings.network.dns_suffix' %></label>
    <div class="form__elem">
        <% if @dns_suffix?.length : %>
            <ul>
                <% for suffix in @dns_suffix : %>
                    <li><%- suffix %></li>
                <% end %>
            </ul>
        <% else : %>
            <%= App.t 'settings.network.not_specified' %>
        <% end %>
    </div>
</div>
<div class="form__row">
    <label class="[ form__label _alignLeft size-normal ]"><%= App.t 'settings.network.ntp_servers' %></label>
    <div class="form__elem">
        <% if @ntp_servers?.length : %>
            <ul>
                <% for ntp in @ntp_servers : %>
                    <li><%- ntp %></li>
                <% end %>
            </ul>
        <% else : %>
            <%= App.t 'settings.network.not_specified' %>
        <% end %>
    </div>
</div>
