<div class="audit_event__user" data-audit-event-user>
    <img src="img/defaultUser.png" alt="">
    <%= @USER_NAME %>
</div>
<div class="audit_event__date" data-audit-event-date>
    <%- @CHANGE_DATE %>
</div>
<div class="audit_event__action" data-audit-event-entity>
    <%- @ENTITY_TYPE %>

    <% if @ENTITY_DISPLAY_NAME isnt 'untitled' : %>
        <% if $.i18n.exists "settings.audit_events_entities_default_names.#{ @ENTITY_DISPLAY_NAME }" : %>
            :<%- App.t "settings.audit_events_entities_default_names.#{ @ENTITY_DISPLAY_NAME }" %>
        <% else : %>
            :<%= @ENTITY_DISPLAY_NAME %>
        <% end %>
    <% end %>
</div>
<div data-audit-event-operation>
    <%- @OPERATION %>
</div>
<% if @PROPERTY_CHANGES : %>
    <a href="#" data-toggle-more-info class="audit_event__adv_trigger">
        <%- App.t "global.more_info" %>
    </a>
    <div data-more-info class="audit_event__advanced" hidden>
        <table>
              <tr>
                  <% for header in @gridHeaders : %>
                      <th><%- App.t header %></th>
                  <% end %>
              </tr>
              <% for own key, val of @PROPERTY_CHANGES[@baseKey] : %>
                  <%- @renderRow key, val %>
              <% end %>
        </table>
    </div>
<% end %>
