<input type="checkbox" class="popup__toggle">
<div class="popup"><div class="popup__position">
    <div class="popup__wrap" data-error-container>
        <div class="popup__indent">
            <h2 class="popup__title"><%- @modal_dialog_title %></h2>
            <form class="form">

                <fieldset <%- 'disabled' if @blocked %>>
                    <div class="popup__content">
                        <div class="form__row">
                            <label for="DISPLAY_NAME" class="form__label"><%- App.t 'settings.roles.display_name' %></label>
                            <div class="form__elem"><input maxlength="256" type="text" name="DISPLAY_NAME" data-error-style="tooltip"></div>
                        </div>
                        <div class="privilegies popup__tree"></div>
                        <div class="[ form__row vertical ]">
                            <% if not @blocked or @blocked and $.trim(@NOTE): %>
                                <label for="NOTE" class="form__label"><%= App.t 'settings.users.note' %></label>
                                <div class="form__elem"><textarea maxlength="4000" name="NOTE"></textarea></div>
                            <% end %>
                        </div>
                    </div>
                </fieldset>

                <div class="popup__footer">
                    <% if @blocked: %>
                        <button class="button" data-action="cancel"><%= App.t 'global.close' %></button>
                    <% else: %>
                        <button class="save_button [ button _success ]"><%= App.t 'global.save' %></button>
                        <button class="button" data-action="cancel"><%= App.t 'global.cancel' %></button>
                    <% end %>
                </div>

            </form>

            <label for="popup" class="popup__close"></label>
        </div>
    </div>
</div></div>
