<input type="checkbox" class="popup__toggle">
<div class="popup"><div class="popup__position">
    <div class="popup__wrap" data-error-container>
        <div class="popup__indent">
            <h2 class="popup__title"><%= @title %></h2>
            <form class="form scope_form">
                <div class="popup__content"><fieldset>

                    <div class="form__row">
                        <label for="DISPLAY_NAME" class="[ form__label size-normal ]"><%= App.t 'settings.scopes.display_name' %></label>
                        <div class="form__elem">
                            <input maxlength="256" type="text" name="DISPLAY_NAME">
                        </div>
                    </div>

                    <% for condition in @conditions : %>
                        <%- Marionette.Renderer.render "events/query_builder/_partials/#{condition}", {model: @, mode: 'lite'} %>
                    <% end %>

                    <!-- Note -->
                    <label for="NOTE" class="form__label-line"><%= App.t 'settings.scopes.note' %></label>
                    <div class="form__full-size">
                        <textarea maxlength="4000" id="NOTE" name="NOTE" cols="30" rows="10"></textarea>
                    </div>
                    <!-- Note -->

                    <% include 'controls/form/date', @ %>

                </fieldset></div>
                <div class="popup__footer">
                    <button type="submit" class="[ button _success ]" disabled><%- App.t 'global.save' %></button>
                    <button type="reset" class="button" data-action="cancel"><%- App.t 'global.cancel' %></button>
                </div>
            </form>

            <label for="popup" class="popup__close"></label>
        </div>
    </div>
</div></div>
