@charset "UTF-8";

@import "bourbon";
@import "../../base/variables";

.events-filters {
  margin: -11px -11px 10px;
  padding: 10px;

  background-color: #fff;
  border: 1px solid $greyBorder;
}

.events-filters__filter {
  overflow: hidden;
}

.events-filters__list {
  overflow: hidden;

  > div {
    width: 100%;
  }
}

.events-filters__actions {
  float: right;
  margin-left: 10px;
}

.events-filters__view-mode {
  float: right;
  margin-left: 5px
}