<form class="form popup__filter">
    <% if @helpers.getCurrentModuleName() is "Policy" : %>
    <div class="form__row">
        <label for="MIN" class="[ form__label size-auto ]"><%- App.t 'global.size', context: 'file' %></label>
        <div class="[ form__elem size-100 ]">
            <input type="number" name="MIN">
        </div>
        <label class="form__label size-auto">-</label>
        <div class="[ form__elem size-100 ]">
            <input type="number" name="MAX">
        </div>
        <label class="form__label size-auto"><%- App.t 'global.byte' %></label>
        <div class="form__elem">
            <div class="formSwitch">
                <label class="formSwitch__item">
                    <input class="formSwitch__input" name="ENCRYPTED" type="radio" value="0" checked>
                    <span class="formSwitch__toggle"><%- App.t "global.any", context: 'many' %></span>
                </label>
                <label class="formSwitch__item">
                    <input class="formSwitch__input" name="ENCRYPTED" type="radio" value="1">
                    <span class="formSwitch__toggle"><%- App.t "global.encrypted" %></span>
                </label>
            </div>
        </div>
    </div>
    <% end %>
</form>
<div data-region="tree" class="popup__tree tree_view"></div>
