<form class="form">
    <fieldset>
        <div class="form__row">
            <div class="form__elem">
                <input tabindex="1" name="WORKSTATION" type="text" placeholder="<%- App.t 'form.placeholder.share' %>">
            </div>
            <div class="[ form__elem size-max ]">
                <input tabindex="2" name="PATH" type="text" placeholder="<%- App.t 'form.placeholder.path' %>">
            </div>
            <div class="form__elem">
                <input type="submit" class="[ button _success ]" value="<%- App.t 'global.add' %>">
            </div>
        </div>
    </fieldset>
</form>
