<form class="form">
    <fieldset>
        <div class="form__row">
            <label class="form__label"><%- App.t 'entry.policy.transmission_path', context: 'rule' %></label>
            <div class="form__elem">
                <% @object_type_codes = _.groupBy App.request('bookworm', 'event').toJSON(), 'service_ref' %>

                <select
                    class="multiselect"
                    multiple="multiple"
                    name="OBJECT_TYPE_CODE[]"
                    data-form-type="multiselect"
                    data-default-label="<%- App.t "entry.event.type", context: 'any' %>"
                    collapsible-groups="true"
                >
                    <% for service in @channel() : %>
                        <optgroup value="<%= service.service_id %>" label="<span></span><img src='img/eventType/eventType__<%= service.mnemo %>.png'> <%= service.name %>">
                            <% for object_type_code in @object_type_codes[service.service_id] : %>
                            <option
                                value="<%= object_type_code.event_id %>"
                                label="<%= object_type_code.name %>"
                                ></option>
                            <% end %>
                        </optgroup>
                    <% end %>
                </select>
            </div>
        </div>
        <div class="form__row">
            <label class="form__label" for="WORKSTATION[]"><%- App.t 'entry.policy.storage' %></label>
            <div class="[ form__elem size-50 ]">
                <select name="CONDITION_WORKSTATION">
                    <option value="0">=</option>
                    <option value="1">≠</option>
                </select>
            </div>
            <div class="form__elem">
                <textarea
                    placeholder="<%- App.t 'form.placeholder.search' %>"
                    name="WORKSTATION[]"
                    data-form-type="select2"
                    data-form-server="workstation"
                    data-form-local="share,sharepoint"
                    data-action="SOURCE"
                    required></textarea>
                <button
                    type="button"
                    class="[ button _icon ] [ icon _create ]"
                    data-form-title="<%- App.t 'entry.policy.storage' %>"
                    data-form-entry="workstation,share,sharepoint"
                    ></button>
            </div>
        </div>

        <div class="form__row">
            <label for="SOURCE[]" class="form__label"><%- App.t 'entry.policy.owner', context: 'many' %></label>
            <div class="[ form__elem size-50 ]">
                <select name="CONDITION_SOURCE">
                    <option value="0">=</option>
                    <option value="1">≠</option>
                </select>
            </div>
            <div class="form__elem">
                <textarea
                    placeholder="<%- App.t 'form.placeholder.search' %>"
                    name="SOURCE[]"
                    data-form-type="select2"
                    data-form-server="person,group,perimeter"
                    data-form-local=""></textarea>
                <button
                    type="button"
                    class="[ button _icon ] [ icon _create ]"
                    data-form-title="<%- App.t 'entry.policy.owner', context: 'many' %>"
                    data-form-entry="person,group,perimeter"
                    ></button>
            </div>
        </div>

        <div class="form__row">
            <label class="form__label" for="DEST[]"><%- App.t 'entry.policy.dest', context: 'many_placement' %></label>
            <div class="[ form__elem size-50 ]">
                <select name="CONDITION_DEST">
                    <option value="0">=</option>
                    <option value="1">≠</option>
                </select>
            </div>
            <div class="form__elem">
                <textarea
                    placeholder="<%- App.t 'form.placeholder.search' %>"
                    name="DEST[]"
                    data-form-type="select2"
                    data-form-server="person,group,perimeter"
                    data-form-local=""
                    data-action="DEST" rows="1"></textarea>
                <button
                    type="button"
                    class="[ button _icon ] [ icon _create ]"
                    data-form-title="<%- App.t 'entry.policy.dest', context: 'many_placement' %>"
                    data-form-entry="person,group,perimeter"
                    ></button>
            </div>
        </div>
    </fieldset>
</form>
