<div class="contentHeader">
    <h2 class="contentHeader__title">
        <%- App.t "settings.update.title" %>
    </h2>
</div>

<% block 'unknown' : %>
<% end %>

<% block 'busy' : %>
    <button class="upload__refresh button" data-action="refresh"><i class="fontello-icon-cw"></i></button>
    <span class="upload__error-msg">
        <%- App.t "settings.update.msg__configuration-busy" %>
    </span>
<% end %>

<% block 'ready' : %>
    <form class="update-page__upload upload">

        <div class="update-page__row">
            <div class="upload__control">
                <input type="file" id="file" name="file">
                <label class="upload__add button" for="file">
                    <%- App.t "settings.update.add" %>
                </label>
                <span></span>
                <button class="upload__cancel button" data-action="cancel" type="submit"><%- App.t "settings.update.cancel" %></button>
            </div>
            <div class="upload__file-name"></div>
        </div>

        <div class="update-page__row upload__progress-container">
            <div class="progress upload__progress">
                <div class="progress-bar progress-bar-striped" role="progressbar">
                    <span class="sr-only diagnostic-item__pct"></span>
                </div>
            </div>
        </div>

    </form>
<% end %>

<% content @configurationState %>
