<form class="form _viewOnly">
  <div class="form__row">
      <label class="[ form__label size-medium _alignLeft ]"><%- App.t "settings.crash_notice.email_server" %></label>
      <div class="form__elem">
          <%- @smtp_server__smtp %>
      </div>
  </div>
  <div class="form__row">
      <label class="[ form__label size-medium _alignLeft ]"><%- App.t "settings.crash_notice.email_port" %></label>
      <div class="form__elem">
          <%- @smtp_server__port %>
      </div>
  </div>
  <div class="form__row">
      <label class="[ form__label size-medium _alignLeft ]"><%- App.t "settings.crash_notice.email_prefix" %></label>
      <div class="form__elem">
          <%- @prefix %>
      </div>
  </div>
  <div class="form__row">
      <label class="[ form__label size-medium _alignLeft ]"><%- App.t "settings.crash_notice.recipients" %></label>
      <div class="form__elem">
          <%- @mailing_list.join(', ') %>
      </div>
  </div>
</form>
