<input type="checkbox" class="popup__toggle">
<div class="popup"><div class="popup__position">
    <div class="popup__wrap">
        <div class="popup__indent">
            <h2 class="popup__title"><%- App.t "settings.diagnostic.title" %></h2>
            <div class="popup__content">
                <form class="form diagnostic__form">

                    <div class="form__row"><%- App.t "settings.diagnostic.select_mode_hint" %></div>

                    <% for mode, i in ["normal", "extended"]: %>
                        <div class="form__row">
                            <label class="form__radio">
                                <input type="radio" name="IS_EXTENDED" value="<%- i and 'true' or 'false' %>" <%- if not i then "checked" %>>
                                <span></span>
                                <%- App.t "settings.diagnostic.modes.#{mode}.title" %>
                                <p><%- App.t "settings.diagnostic.modes.#{mode}.description" %></p>
                            </label>
                        </div>
                    <% end %>

                </form>

                <div class="popup__footer">
                    <button class="[ button _success ]" data-action="start"><%- App.t "settings.diagnostic.run" %></button>
                    <label for="popup" class="button" data-action="cancel"><%- App.t "global.cancel" %></label>
                </div>

                <label for="popup" class="popup__close"></label>

            </div>
        </div>
    </div>
</div>
