<section class="[ content__indent _scrollable _autoHeight ]">
    <header class="contentHeader">
        <h2 class="contentHeader__title"><%= @display_name or App.t 'settings.ldap_settings.add_ldap_server_title' %></h2>
    </header>
    <form class="[ form size-500 ]">
        <div class="form__row">
            <label for="display_name" class="form__label"><%- App.t 'settings.ldap_settings.display_name' %></label>
            <div class="form__elem">
                <input type="text" name="display_name" data-tooltip-position="bottom" data-error-style="tooltip" placeholder="<%- App.t 'settings.ldap_settings.display_name_placeholder' %>">
            </div>
        </div>
        <div class="form__row">
            <label for="server_type" class="form__label"><%= App.t 'settings.ldap_settings.server_type' %></label>
            <div class="form__elem">
                <select name="server_type">
                    <option value="1"><%= App.t 'settings.ldap_settings.server_type_ldap' %></option>
                    <option value="2"><%= App.t 'settings.ldap_settings.server_type_lotus' %></option>
                </select>
            </div>
        </div>
        <div class="form__row">
            <label for="enabled" class="form__label"><%= App.t 'settings.ldap_settings.sync' %></label>
            <div class="form__elem">
                <div class="tumbler">
                    <input class="tumbler__input" name="enabled" type="checkbox">
                    <label for="enabled" class="tumbler__toggle"></label>
                </div>
            </div>
        </div>

        <div id="synchronization_params">
            <div class="form__row">
                <label for="synchronize_type" class="form__label"><%= App.t 'settings.ldap_settings.synchronize' %></label>
                <div class="form__elem">
                    <select name="syncOptions[synchronize_type]" data-error-style="tooltip" data-tooltip-position="left">
                        <option value="minutes" selected="selected"><%= App.t 'settings.ldap_settings.sync_type.minutes' %></option>
                        <option value="hours"><%= App.t 'settings.ldap_settings.sync_type.hours' %></option>
                        <option value="daily"><%= App.t 'settings.ldap_settings.sync_type.daily' %></option>
                        <option value="weekly"><%= App.t 'settings.ldap_settings.sync_type.weekly' %></option>
                    </select>
                </div>
            </div>

            <div class="form__row" data-schedule="minutes">
                <label class="form__label"><%= App.t 'settings.ldap_settings.repeat_interval' %></label>
                <div class="[ form__elem size-100 ]">
                    <input name="syncOptions[MINUTES]" type="number" data-error-style="tooltip" data-tooltip-position="left" min="0" max="60">
                </div>
                <label class="[ form__label size-auto ]"><%= App.t 'settings.ldap_settings.minutes' %></label>
            </div>

            <div class="form__row" data-schedule="hours">
                <label class="form__label"><%= App.t 'settings.ldap_settings.repeat_interval' %></label>
                <div class="[ form__elem size-100 ]">
                    <input name="syncOptions[HOURS]" type="number" data-error-style="tooltip" data-tooltip-position="left" min="0" max="60">
                </div>
                <label class="[ form__label size-auto ]"><%= App.t 'settings.ldap_settings.hours'%></label>
            </div>

            <div class="form__row" data-schedule="daily">
                <label class="form__label"><%= App.t 'settings.ldap_settings.repeat_interval' %></label>
                <div class="[ form__elem size-100 ] form__timepicker input-append bootstrap-timepicker">
                    <input name="syncOptions[DAY_TIME]" type="text"data-form-type="time">
                    <span class="add-on"></span>
                </div>
            </div>

            <div class="form__row" data-schedule="weekly">
                <label class="form__label"><%= App.t 'settings.ldap_settings.repeat_interval' %></label>
                <div class="[ form__elem size-100 ] form__timepicker input-append bootstrap-timepicker">
                    <input name="syncOptions[WEEK_TIME]" type="text" data-form-type="time">
                    <span class="add-on"></span>
                </div>
                <div class="form__elem">
                    <select class="multiselect" multiple="multiple" name="syncOptions[week_days][]" data-form-type="multiselect">
                        <option value="1"><%= App.t 'global.mon' %></option>
                        <option value="2"><%= App.t 'global.tue' %></option>
                        <option value="3"><%= App.t 'global.wed' %></option>
                        <option value="4"><%= App.t 'global.thu' %></option>
                        <option value="5"><%= App.t 'global.fri' %></option>
                        <option value="6"><%= App.t 'global.sat' %></option>
                        <option value="7"><%= App.t 'global.sun' %></option>
                    </select>
                </div>
            </div>
        </div>

        <h2 class="form__title"><%= App.t 'settings.ldap_settings.connection_settings' %></h2>

        <% if @name : %>
            <div class="form__message"><%= App.t 'settings.ldap_settings.change_hint' %></div>
        <% end %>

        <div class="form__row">
            <label class="form__label"><%= App.t 'settings.ldap_settings.ldapServer' %></label>
            <div class="form__elem"><input type="text" name="address" data-tooltip-position="top" data-error-style="tooltip"></div>
        </div>
        <div class="form__row" id="global_port">
            <label class="form__label"><%= App.t 'settings.ldap_settings.ldapGlobalPort' %></label>
            <div class="form__elem size-1-4">
                <input type="number" min="0" name="global_port" max="65535" class="form__elem-short" data-error-style="tooltip" data-tooltip-position="left">
            </div>
        </div>
        <div class="form__row">
            <label class="form__label"><%= App.t 'settings.ldap_settings.ldapPort' %></label>
            <div class="form__elem size-1-4">
                <input type="number" name="dom_port" min="0" max="65535" class="form__elem-short" data-error-style="tooltip" data-tooltip-position="bottom">
            </div>
        </div>
        <div class="form__row" id="use_global_catalog">
            <label class="form__label"><%= App.t 'settings.ldap_settings.global_catalog' %></label>
            <div class="form__elem">
                <select name="use_global_catalog">
                    <option value="1"><%= App.t 'settings.ldap_settings.use_global_catalog' %></option>
                    <option value="0"><%= App.t 'settings.ldap_settings.not_use_global_catalog' %></option>
                </select>
            </div>
        </div>
        <div class="form__row">
            <label class="form__label"><%- App.t 'settings.ldap_settings.base' %></label>
            <div class="form__elem"><input type="text" name="base" data-error-style="tooltip" data-tooltip-position="top"></div>
        </div>
        <div class="form__row">
            <label class="form__label"><%- App.t 'settings.ldap_settings.login' %></label>
            <div class="form__elem"><input type="text" name="username" autocomplete="off" data-error-style="tooltip" data-tooltip-position="bottom"></div>
        </div>

        <div class="form__row">
            <label class="form__label"><%- App.t 'settings.ldap_settings.password' %></label>
            <div class="form__elem"><input type="password" name="password" autocomplete="off" data-error-style="tooltip" data-tooltip-position="bottom"></div>
        </div>

    </form>
</section>

<footer class="content__footer">
    <button class="[ button _success ]" type="submit" data-action="save"><%= App.t 'global.save' %></button>
    <button class="button" type="button" data-action='check'><%- App.t 'settings.ldap_settings.checkServer' %></button>
    <button class="button" data-action='cancel'><%- App.t 'global.cancel' %></button>
</footer>
