<input type="checkbox" class="popup__toggle">
<div class="popup">
    <div class="popup__position">
        <div class="popup__wrap" data-error-container>
            <div class="popup__indent">
                <div class="[ popup__content size-short ]">
                    <h2 class="popup__title"><%= @title %></h2>
                    <form class="form" data-error-container>
                        <div class="form__row">
                            <label for="enable_notifications" class="[ form__label size-175 ]"><%- App.t "settings.crash_notice.enable" %></label>
                            <div class="form__elem">
                                <div class="tumbler">
                                    <input class="tumbler__input" id="enable_notifications" type="checkbox" name="enable_notifications">
                                    <label for="enable_notifications" class="tumbler__toggle"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form__row">
                            <label class="[ form__label size-175 ]" for="crash_notice_email_server" title="<%- App.t "settings.crash_notice.email_server_hint" %>">
                                <%- App.t "settings.crash_notice.email_server" %>
                                <i class="form__hint-icon [ icon _sizeSmall _help ]"></i>
                            </label>
                            <div class="form__elem">
                                <input
                                    name="smtp_server__smtp"
                                    type="text">
                            </div>
                        </div>
                        <div class="form__row">
                            <label class="[ form__label size-175 ]" for="crash_notice_email_port">
                                <%- App.t "settings.crash_notice.email_port" %>
                            </label>
                            <div class="form__elem">
                                <input
                                    type="number"
                                    min="0"
                                    max="65535"
                                    name="smtp_server__port">
                            </div>
                        </div>
                        <div class="form__row">
                            <label class="[ form__label size-175 ]" for="crash_notice_email_prefix" title="<%- App.t "settings.crash_notice.email_prefix_hint" %>">
                            <%- App.t "settings.crash_notice.email_prefix" %>
                            <i class="form__hint-icon [ icon _sizeSmall _help ]"></i>
                            </label>
                            <div class="form__elem">
                                <input
                                    name="prefix"
                                    type="text">
                            </div>
                        </div>
                        <div class="form__row">
                            <label class="[ form__label size-175 ]" for="crash_notice_recipients">
                                <%- App.t "settings.crash_notice.recipients" %>
                            </label>
                            <div class="form__elem">
                                <input name="mailing_list[]">
                            </div>
                        </div>
                        <div class="form__row">
                            <label class="[ form__label size-175 ]"></label>
                            <button type="button" class="[ button _white ]" data-may-disabled data-action="check"><%= App.t "settings.crash_notice.test" %></button>
                        </div>

                        <div class="popup__footer">
                            <button class="[ button _success ]" data-may-disabled data-action="save"><%= App.t 'global.save' %></button>
                            <button class="button" data-action="cancel"><%= App.t 'global.cancel' %></button>
                        </div>
                    </form>
                    <label for="popup" class="popup__close"></label>
                </div>
            </div>
        </div>
    </div>
</div>
