<h3 class="eventAnalisysItem__name"><%= @ent.DISPLAY_NAME %></h3>

<% switch @entries.ENTRY_TYPE : %>
    <% when 'category' : %>
        <span class="eventAnalisysItem__desc">
            <%= App.t 'events.events.entry_types.category' %>.
            <%= App.t 'events.events.relevance' %>: <%= @ent.RELEVANCE %>
        </span>
    <% end %>

    <% when 'text_object' : %>
        <span class="eventAnalisysItem__desc">
            <%= App.t 'events.events.entry_types.text_object' %>.
            <%= App.t 'events.events.total_entries' %>: <%= @ent.TOTAL_ENTRIES %>
        </span>
    <% end %>

    <% when 'table' : %>
        <span class="eventAnalisysItem__desc">
            <%= App.t 'events.events.entry_types.table' %>.
            <%= App.t 'events.events.detected_rules' %>: <%= @ent.CONDITION_DISPLAY_NAME %>
        </span>
    <% end %>

    <% when 'form' : %>
        <span class="eventAnalisysItem__desc">
            <%= App.t 'events.events.entry_types.form' %>.
            <%= "#{App.t('events.events.filled_filds')}: #{@ent.COMPLETED_COUNT} #{App.t('global.from')} #{@ent.MATCHED_COUNT}. #{App.t('events.events.etalon_match')}: #{(@ent.RELEVANCE * 100).toFixed(1)}%" %>
        </span>
    <% end %>

    <% when 'fingerprint' : %>
        <% switch @ent.TYPE : %>

            <% when 'fingerprint' : %>
                <span class="eventAnalisysItem__desc">
                    <%= App.t 'events.events.entry_types.fingerprint' %>.
                    <%= App.t 'events.events.citated' %>: <%= "#{(@ent.RELEVANCE * 100).toFixed(1)}%" %>
                </span>
            <% end %>

            <% when 'stamp' : %>
                <span class="eventAnalisysItem__desc">
                    <%= App.t 'events.events.entry_types.stamp' %>.
                    <%= App.t 'events.events.detected' %>: <%= @ent.TOTAL_ENTRIES %>
                </span>
            <% end %>

            <% when 'classifier', 'classifier_garbage', 'homography' : %>
                <span class="eventAnalisysItem__desc">
                    <%= App.t 'events.events.entry_types.classifier' %>.
                    <%= App.t 'events.events.detected' %>: <%= @ent.TOTAL_ENTRIES %>
                </span>
            <% end %>

        <% end %>
    <% end %>

<% end %>
