<div class="eventAnalisysItem__header">
    <h2 class="eventAnalisysItem__title <%= if @IS_DELETED then 'deleted' %>"><%= @DISPLAY_NAME %></h2>
    <% if @IS_DELETED is 0 : %>
        <a href="/protected/<%= @PROT_CATALOG_ID %>/<%= @PROT_DOCUMENT_ID %>" class="eventAnalisysItem__more"><%= App.t 'events.events.detail_information' %></a>
    <% end %>
</div>

<nav class="tabs">
    <ul>
        <li class="tabs__item active">
            <a class="tabs__link" href="#eventDetailsExtended__triggeredTechnology" data-toggle="tab"><%= App.t 'events.events.tech_detected' %></a>
        </li>
        <li class="tabs__item">
            <a class="tabs__link" href="#eventDetailsExtended__group" data-toggle="tab"><%= App.t 'events.events.catalog' %></a>
        </li>
    </ul>
</nav>

<section class="eventAnalisysItem__tab tab-content">

    <div class="tab-pane active" id="eventDetailsExtended__triggeredTechnology">
        <ul class="eventAnalisysItem__list">
            <% for condition, index in @conditions : %>
                <% for entries in condition : %>
                    <% for ent, i in entries.entries : %>
                        <li data-type="entity" data-condition="<%= index %>" data-entries="<%= entries.ENTRY_ID %>" data-entry="<%= i %>">
                            <% include 'events/event_views/event_full_properties/analysis_entry_info', {t: @t, ent: ent, entries: entries} %>
                        </li>
                    <% end %>
                <% end %>
            <% end %>
        </ul>
    </div>

    <div class="tab-pane" id="eventDetailsExtended__group">
        <ul class="eventAnalisysItem__links">
            <% for catalog in @catalog : %>
            <li>
                <% if catalog.IS_DELETED is 1 : %>
                    <span class="deleted"><%= catalog.DISPLAY_NAME %></span>
                <% else : %>
                    <a href="/protected/<%= catalog.CATALOG_ID %>"><%= catalog.DISPLAY_NAME %></a>
                <% end %>
            </li>
            <% end %>
        </ul>
    </div>

</section>
