<form class="form">
    <% if @senders_keys.length or @senders.length or @senders_conflicts.length : %>
    <div class="form__row _indentShort">
        <span class="[ form__label ]"><%- App.t 'events.conditions.senders' %></span>
        <div class="eventDetail__items [ form__col _wrappable ]">
            <% include "events/partials/_participant", _.assign(@, {participants_keys: @senders_keys, participants: @senders, participants_conflicts: @senders_conflicts}, participant_type: 'sender') %>
        </div>
    </div>
    <% end %>

    <div class="form__row _indentShort">
        <span class="[ form__label ]"><%- App.t 'events.conditions.recipients' %></span>
        <div class="eventDetail__items [ form__col _wrappable ]">
            <% include "events/recipients", @ %>
        </div>
    </div>

    <% if @workstations?.length or @workstations_conflicts?.length or @workstations_keys?.length : %>
    <div class="form__row _indentShort">
        <span class="form__label"><%- App.t 'events.conditions.workstations' %></span>
        <ul class="eventDetail__items [ form__col _wrappable ]">
            <% include "events/workstation", @ %>
        </div>
    </div>
    <% end %>

    <!-- Policies -->
    <% if @policies?.length : %>
    <div class="form__row _indentShort">
        <span class="form__label"><%= App.t 'events.conditions.policies' %></span>
        <ul class="eventDetail__items [ form__col _wrappable ]">
            <% for policy in @policies : %>
            <li class="unit">
                <% if policy.IS_DELETED is 0 : %>
                    <a
                        class="unit__name"
                        href="/policy/<%= policy.POLICY_ID %>"
                        ><%= policy.DISPLAY_NAME %>
                    </a>
                <% else : %>
                    <span
                        class="unit__name _deleted"
                        data-id="<%= policy.POLICY_ID %>"
                        ><%= policy.DISPLAY_NAME %>
                    </span>
                <% end %>
            </li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <!-- Policies -->

    <% if @service?.get('mnemo') is 'web' : %>
        <% if @DESTINATION_HOST : %>
            <div class="form__row _indentShort">
                <span class="form__label"><%= App.t 'events.conditions.destination_host' %></span>
                <div class="[ form__elem _text ]" title="<%= @DESTINATION_HOST %>">
                    <%= @DESTINATION_HOST %>
                </div>
            </div>
        <% end %>
    <% end %>

    <% if @DESTINATION_PATH : %>
        <div class="form__row _indentShort">
            <span class="form__label"><%= App.t 'events.conditions.destination_path' %></span>
            <div class="eventDetail__items form__elem">
                <span class="unit">
                    <span class="unit__name" title="<%= @DESTINATION_PATH %>">
                        <%= @DESTINATION_PATH %>
                    </span>
                </span>
            </div>
        </div>
    <% end %>

    <% if @RULE_GROUP_TYPE : %>
        <div class="form__row _indentShort">
            <span class="form__label"><%= App.t 'events.conditions.rule_group_type' %></span>
            <div class="[ form__elem _text ]" title="<%= App.t "events.conditions.rule_group_type_#{@RULE_GROUP_TYPE.toLowerCase()}" %>">
                <%= App.t "events.conditions.rule_group_type_#{@RULE_GROUP_TYPE.toLowerCase()}" %>
            </div>
        </div>
    <% end %>

    <% if @TASK_QUERY : %>
        <div class="form__row _indentShort">
            <span class="form__label"><%= App.t 'events.conditions.crawler_task_query_column' %></span>
            <div class="[ form__elem _text ]" title="<%= @TASK_QUERY %>">
                <%= @TASK_QUERY %>
            </div>
        </div>
    <% end %>

    <% for header in ['task_name', 'copies', 'port_name', 'print_server', 'location', 'comment', 'print_task_name'] : %>
        <% if @groupedHeaders?[header] : %>
            <div class="form__row _indentShort">
                <span class="form__label"><%= App.t 'events.conditions.' + header %></span>
                <div class="[ form__elem _text ]" title="<%= @groupedHeaders[header][0].VALUE %>">
                    <%= @groupedHeaders[header][0].VALUE %>
                </div>
            </div>
        <% end %>
    <% end %>

    <% if @lists?.length : %>
    <div class="form__row _indentShort">
        <span class="form__label"><%= App.t 'events.conditions.lists' %></span>
        <ul class="eventDetail__items [ form__col _wrappable ]">
            <% for list in @lists : %>
                <% if list.IS_DELETED is 0 : %>
                    <li class="unit">
                        <a
                            class="unit__name"
                            href="/lists/resources/<%= list.LIST_ID %>"
                            data-id="<%= list.LIST_ID %>"
                            ><%= list.DISPLAY_NAME %>
                        </a>
                    </li>
                <% else : %>
                    <li class="unit">
                        <span class="unit__name _deleted" data-id="<%= list.LIST_ID %>"><%= list.DISPLAY_NAME %></span>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
    <% end %>

    <% include "events/partials/perimeters", @ %>

    <% if @tags.length : %>
        <div class="form__row _indentShort">
            <span class="form__label"><%= App.t 'events.conditions.tags' %></span>
            <ul class="eventDetail__items [ form__col _wrappable ]">
                <% include "events/tags", @ %>
            </div>
        </div>
    <% end %>

    <% if @SENT_DATE : %>
        <div class="form__row _indentShort">
            <span class="form__label"><%= App.t 'events.conditions.sent_date' %></span>
            <div class="[ form__elem _text ]"><%= "#{moment.utc("#{@SENT_DATE}").local().format("dddd, D MMMM YYYY HH:mm:ss")}" %></div>
        </div>
    <% end %>

    <div class="form__row _indentShort">
        <span class="form__label"><%= App.t 'events.conditions.capture_date' %></span>
        <div class="[ form__elem _text ]"><%= "#{moment.utc("#{@CAPTURE_DATE}").local().format("dddd, D MMMM YYYY HH:mm:ss")}" %></div>
    </div>

</form>
