<% if @can('edit_rule') : %><a
    href="#"
    class="policyRuleItem__button"
    data-action="removeRule">
</a><% end %>

<% channel = @channel() %>
<% if channel.length : %>
    <div class="policyRuleItem__row">
        <label class="policyRuleItem__label"><%- App.t "entry.policy.transmission_path_rule" %></label>
        <div class="policyRuleItem__values">
            <div class="policyRuleItem__type">
                <% for item in channel : %>
                    <span><%- item.name %></span>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<div class="policyRuleItem__row">
    <label class="policyRuleItem__label"><%- App.t 'entry.policy.storage' %></label>
    <div class="policyRuleItem__values">
        <% if @DATA.WORKSTATION?.length : %>
            <%- if +@DATA.CONDITION_WORKSTATION then App.t 'entry.policy.storage', context: 'any_other' else "" %>
            <% for item in @DATA.WORKSTATION : %>
                <span
                    data-entry-type="<%- item.TYPE %>"
                    data-entry-id="<%- item.ID %>"
                    data-trigger="click"
                    class="<%- if @entry.isDeleted item then "deleted" else "" %>">
                    <i class="<%- @style.className.entry[item.TYPE] %>"></i> <%- @entry.getName item %>
                </span>
            <% end %>
        <% else : %>
            <%- App.t 'entry.policy.storage', context: 'any' %>
        <% end %>
    </div>
</div>

<div class="policyRuleItem__row">
    <label class="policyRuleItem__label"><%- App.t 'entry.policy.owner_many' %></label>
    <div class="policyRuleItem__values">
        <% if @DATA.SOURCE?.length : %>
            <%- if +@DATA.CONDITION_SOURCE then App.t 'entry.policy.owner', context: 'any_other' else "" %>
            <% for item in @DATA.SOURCE : %>
                <span
                    data-entry-type="<%- item.TYPE %>"
                    data-entry-id="<%- item.ID %>"
                    data-trigger="click"
                    class="<%- if @entry.isDeleted item then "deleted" else "" %>">
                    <i class="<%- @style.className.entry[item.TYPE] %>"></i> <%- @entry.getName item %>
                </span>
            <% end %>
        <% else : %>
            <span data-type="SOURCE" data-dialog="storage">
                <i class="[ icon _sizeSmall _sid ]"></i>
                <%- App.t 'entry.policy.owner', context: 'any' %></span>
        <% end %>
    </div>
</div>

<div class="policyRuleItem__row">
    <label class="policyRuleItem__label"><%- App.t 'entry.policy.dest_many_placement' %></label>
    <div class="policyRuleItem__values">
        <% if @DATA.DEST?.length : %>
            <%- if +@DATA.CONDITION_DEST then App.t 'entry.policy.dest_placement', context: 'any_other' else "" %>
                <% for item in @DATA.DEST : %>
                    <span
                        data-entry-type="<%- item.TYPE %>"
                        data-entry-id="<%- item.ID %>"
                        data-trigger="click"
                        class="<%- if @entry.isDeleted item then "deleted" else "" %>">
                        <i class="<%- @style.className.entry[item.TYPE] %>"></i> <%- @entry.getName item %>
                    </span>
                <% end %>
            <% else : %>
                <span data-type="DEST" data-dialog="placement">
                    <i class="[ icon _sizeSmall _accessPublic ]"></i>
                    <%- App.t 'entry.policy.dest_placement', context: 'any' %>
                </span>
            <% end %>
        <% end %>
    </div>
</div>

<div class="policyRuleItem__row">
    <label class="policyRuleItem__label"><%- App.t "global.action", context: "many" %></label>
    <div class="policyRuleItem__values">
        <ul class="policyRuleItem__actions" data-ui="actionList"></ul>
    </div>
</div>
