<input type="checkbox" class="popup__toggle">
<div class="popup"><div class="popup__position">
    <div class="popup__wrap" data-error-container>
        <div class="popup__indent">
            <h2 class="popup__title"><%- @title %></h2>

            <div class="popup__content">
                <form>
                    <h2 class="[ form__title _indentShort ]"><%= App.t 'events.events.export_label' %></h2>
                    <div class="[ form__row _indentShort ]">
                        <label class="form__radio">
                            <input
                                class="radio"
                                type="radio"
                                name="scope"
                                value="selected"
                                <%= if @selected.length is 0 then 'disabled' else '' %>
                                <%= if @selected.length isnt 0 then 'checked' else '' %>
                            >
                            <span></span>
                            <%= App.t 'events.events.export_selected' %>
                        </label>
                    </div>
                    <div class="[ form__row _indentShort ]">
                        <label class="form__radio">
                            <input
                                class="radio"
                                type="radio"
                                name="scope"
                                value="all"
                                <%= if @selected.length is 0 then 'checked' else '' %>
                            >
                            <span></span>
                            <%= App.t 'events.events.export_all' %>
                        </label>
                    </div>

                    <h2 class="[ form__title _indentShort ]"><%= App.t 'events.events.export_type' %></h2>
                    <div class="[ form__row _indentShort ]">
                        <label class="form__radio">
                            <input class="radio" type="radio" name="format" value="simple" checked>
                            <span></span>
                            <%= App.t 'events.events.export_simple' %>
                        </label>
                    </div>
                    <div class="[ form__row _indentShort ]">
                        <label class="form__radio">
                            <input class="radio" type="radio" name="format" value="full">
                            <span></span>
                            <%= App.t 'events.events.export_full' %>
                        </label>
                    </div>

                    <h2 class="[ form__title _indentShort ]"><%= App.t 'events.events.file_type' %></h2>
                    <div class="[ form__row _indentShort ]">
                        <label class="form__radio">
                            <input class="radio" type="radio" name="type" value="excel2003" checked>
                            <span></span>
                            <%= App.t 'events.events.type_excel2003' %>
                        </label>
                    </div>
                    <div class="form__row">
                        <label class="form__radio">
                            <input class="radio" type="radio" name="type" value="excel2007">
                            <span></span>
                            <%= App.t 'events.events.type_excel2007' %>
                        </label>
                    </div>
                </form>
            </div>

            <div class="popup__footer">
                <button class="[ button _success ]" data-action="save"><%= App.t 'events.events.export_btn' %></button>
                <button class="button" data-action="cancel"><%= App.t 'global.cancel' %></button>
            </div>

            <label for="popup" class="popup__close"></label>
        </div>
    </div>
</div></div>
