<div class="popoverUnit__general">
    <div class="popoverUnit__type">
        <% if @SOURCE in ["ad", "dd"] : %>
            <% if @DISABLED is 1 : %>
                <i class="[ popoverUnit__status _inactive ]"></i>
            <% else : %>
                <i class="[ popoverUnit__status _active ]"></i>
            <% end %>
        <% end %>
        <% if @SOURCE is "ad" : %>AD<% end %>
        <% if @SOURCE is "dd" : %>DD<% end %>
    </div>
    <div class="popoverUnit__ava">
        <img width=67 height=67 src="<%- App.Config.server %>/img/icon/group-icon.png" alt="">
    </div>
    <h3 class="popoverUnit__name"><%- @DISPLAY_NAME %></h3>
    <span class="popoverUnit__rank"><%- @TM_TITLE ? @TITLE %></span>
</div>

<% if @IS_DELETED : %>
    <div class="[ form__message _warning ]"><%= App.t 'events.events.group_identity_deleted' %></div>
<% end %>

<div class="popoverUnit__contacts">
    <h3 class="popoverUnit__title" style="margin-bottom:0.5em;font-weight: bold;"><%= App.t 'events.events.event_group_contacts' %></h3>
    <% for participant_key in @["#{@direction}_keys"] : %>
    <div class="popoverUnit__contact">
        <i class="
            <% switch participant_key.KEY_TYPE : %>
                <% when 'email', 'mail' :%>
                    icon _email _sizeSmall
                <% end %>
                <% when 'lotus' :%>
                    icon _lotus _sizeSmall
                <% end %>
                <% when 'auth' :%>
                    icon _sid _sizeSmall
                <% end %>
                <% when 'sid' :%>
                    icon _sid _sizeSmall
                <% end %>
            <% end %>"
           data-toggle="tooltip" title="<%= participant_key.KEY %>" data-original-title=""></i> <%- participant_key.KEY %>
    </div>
    <% end %>

    <h3 class="popoverUnit__title" style="margin-bottom:0.5em;font-weight: bold;margin-top:1.5em;"><%= App.t 'events.events.all_contacts' %></h3>
    <% for value in @contacts.toJSON() when value.CONTACT_TYPE isnt "sid" : %>
        <div class="popoverUnit__contact">
            <i class="
                <% switch value.CONTACT_TYPE : %>
                    <% when 'email' :%>
                        icon _email _sizeSmall
                    <% end %>
                    <% when 'lotus' :%>
                        icon _lotus _sizeSmall
                    <% end %>
                    <% when 'auth' :%>
                        icon _sid _sizeSmall
                    <% end %>
                    <% when 'sid' :%>
                        icon _sid _sizeSmall
                    <% end %>
                <% end %>"
               data-toggle="tooltip" title="<%= value.VALUE %>" data-original-title=""></i> <%- value.VALUE %>
        </div>
    <% end %>
</div>

<div class="popoverUnit__link">
    <a href="/organization/group/<%= @GROUP_ID %>"><%= App.t 'events.events.drill_to_group' %></a>
</div>
