<% if @id : %>
    <h3 class="popoverPerimeter__name"><i class="[ icon _perimeter ]"></i> <%= @name %></h3>
    <div class="popoverPerimeter__desc"><%= App.t 'events.events.perimeter_contacts' %>:</div>
<% else : %>
    <h3 class="popoverPerimeter__name"><i class="[ icon _perimeterUnknown ]"></i> <%= App.t 'events.events.missed_perimeter' %></h3>
    <div class="popoverPerimeter__desc"><%= App.t 'events.events.perimeter_all_contacts' %>:</div>
<% end %>
<div class="popoverPerimeter__list">
    <% for key in @keys.split('||') : %>
        <div class="unit">
          <% include "events/identity_entity", {identity: key.split(':')[1], KEY_TYPE: key.split(':')[0]} %>
        </div>
    <% end %>
</div>

<% if @id : %>
<div class="popoverUnit__link">
    <a href="/lists/perimeters/<%= @id %>"><%= App.t 'events.events.drill_to_perimeter' %></a>
</div>
<% end %>
