<div class="popoverUnit__general">
    <div class="popoverUnit__ava">
        <% if @SOURCE is "ad" : %>
            <i class="[ icon _compTypeStationAd ]"></i>
        <% else : %>
            <i class="[ icon _compTypeStationTm ]"></i>
        <% end %>
    </div>
    <h3 class="popoverUnit__name"><%- @DISPLAY_NAME %></h3>
    <span class="popoverUnit__rank"><%- @TM_TITLE ? @TITLE %></span>
</div>

<% if @IS_DELETED : %>
    <div class="[ form__message _warning ]"><%= App.t 'events.events.workstation_identity_deleted' %></div>
<% end %>

<div class="popoverUnit__contacts">
    <h3 class="popoverUnit__title" style="margin-bottom:0.5em;font-weight: bold;"><%= App.t 'events.events.event_workstation_contacts' %></h3>
    <% for workstation_key in @["workstation_keys"] : %>
    <div class="popoverUnit__contact">
        <i class="
            <% switch workstation_key.KEY_TYPE : %>
                <% when 'ip' :%>
                    icon _ip _sizeSmall
                <% end %>
                <% when 'dns' :%>
                    icon _dns _sizeSmall
                <% end %>
                <% when 'auth' :%>
                    icon _sid _sizeSmall
                <% end %>
            <% end %>"
           data-toggle="tooltip" title="<%= workstation_key.KEY %>" data-original-title=""></i> <%- workstation_key.KEY %>
    </div>
    <% end %>

    <% if @contacts : %>
        <h3 class="popoverUnit__title" style="margin-bottom:0.5em;font-weight: bold;margin-top:1.5em;"><%= App.t 'events.events.all_contacts' %></h3>
        <% for value in @contacts.toJSON() : %>
            <div class="popoverUnit__contact">
                <i class="
                    <% switch value.CONTACT_TYPE : %>
                        <% when 'ip' :%>
                            icon _ip _sizeSmall
                        <% end %>
                        <% when 'dns' :%>
                            icon _dns _sizeSmall
                        <% end %>
                        <% when 'auth' :%>
                            icon _sid _sizeSmall
                        <% end %>
                    <% end %>"
                   data-toggle="tooltip" title="<%= value.VALUE %>" data-original-title=""></i> <%- value.VALUE %>
            </div>
        <% end %>
    <% end %>
</div>

<div class="popoverUnit__tags">
    <% if @status and @status.length : %>
        <% for status in @status.toJSON() : %>
            <span class="popoverUnit__tag" style="color:<%= if status.COLOR then 'white' else 'black' %>;background-color:<%= status.COLOR %>"><%= App.t('lists.statuses', { returnObjectTrees: true })[status.DISPLAY_NAME] ? status.DISPLAY_NAME %></span>
        <% end %>
    <% end %>
</div>

<% if @real_group and @PERSON_ID and @SOURCE : %>
<div class="popoverUnit__link">
    <% if @SOURCE is 'tm' : %>
        <a href="/organization/<%= @real_group.GROUP_ID %>/workstations/<%= @WORKSTATION_ID %>"><%= App.t 'events.events.drill_to_workstation' %></a>
    <% else : %>
        <a href="/organization/<%= @real_group.GROUP_ID %>/workstations/<%= @WORKSTATION_ID %>"><%= App.t 'events.events.drill_to_workstation' %></a>
    <% end %>
</div>
<% end %>
