<div class="popover-info">

    <div class="popover-info__row">
        <div class="popover-info__param"><%- App.t 'global.name' %>:</div>
        <div class="popover-info__value"><%- @name %></div>
    </div>

    <div class="popover-info__row">
        <div class="popover-info__param"><%- App.t 'global.mime_type' %>:</div>
        <div class="popover-info__value"><%- @mime_type %></div>
    </div>

    <div class="popover-info__row">
        <div class="popover-info__param"><%- App.t 'global.extension', context: 'many' %>:</div>
        <div class="popover-info__value"><%- @extensions.join ", " %></div>
    </div>

    <% if @description and @description isnt @name : %>
        <div class="popover-info__row">
            <div class="popover-info__param"><%- App.t 'global.description' %>:</div>
            <div class="popover-info__value"><%- @description %></div>
        </div>
    <% end %>

</div>
