<ul style="max-width: 400px">

<li>
    <b><%- App.t 'global.DISPLAY_NAME' %></b>: <%- @name %>
</li>

<% if @CREATE_DATE : %>
    <li class="policy_popover--item"><b><%- App.t 'global.CREATE_DATE' %></b>:
        <span class="policy_popover--value"><%= moment.utc(@CREATE_DATE).local().format('L LT') %></span>
    </li>
<% end %>

<% if @CHANGE_DATE and @CHANGE_DATE isnt @CREATE_DATE : %>
    <li class="policy_popover--item"><b><%- App.t 'global.CHANGE_DATE' %></b>:
        <span class="policy_popover--value"><%= moment.utc(@CHANGE_DATE).local().format('L LT') %></span>
    </li>
<% end %>

</ul>
