<%
formatDate = "DD-MM-YYYY 00:00:00"
START_DATE = moment @START_DATE, formatDate if @START_DATE
END_DATE   = moment @END_DATE, formatDate if @END_DATE
if START_DATE or END_DATE
    range = "#{START_DATE.format('L')} - #{END_DATE.format('L')}"
else
    range = App.t 'global.not_range'
%>
<div class="popover-info">
    <div class="popover-info__row">
        <div class="popover-info__param"><%- App.t 'global.DISPLAY_NAME' %>:</div>
        <div class="popover-info__value"><%- @name %></div>
    </div>
    <div class="popover-info__row">
        <div class="popover-info__param"><%- App.t 'global.status' %>:</div>
        <div class="popover-info__value"><%- App.t "global.#{if @status then "in" else ""}active" %></div>
    </div>
    <div class="popover-info__row">
        <div class="popover-info__param"><%- App.t 'global.range_date' %>:</div>
        <div class="popover-info__value"><%- range %></div>
    </div>
    <% if @NOTE : %>
        <div class="popover-info__row">
            <div class="popover-info__param"><%- App.t 'global.NOTE' %>:</div>
            <div class="popover-info__value"><%- @NOTE %></div>
        </div>
    <% end %>

    <% if @CREATE_DATE : %>
        <div class="popover-info__row">
            <div class="popover-info__param"><%- App.t 'global.CREATE_DATE' %>:</div>
            <div class="popover-info__value"><%= moment.utc(@CREATE_DATE).local().format('L LT') %></div>
        </div>
    <% end %>

    <% if @CHANGE_DATE and @CHANGE_DATE isnt @CREATE_DATE : %>
        <div class="popover-info__row">
            <div class="popover-info__param"><%- App.t 'global.CHANGE_DATE' %>:</div>
            <div class="popover-info__value"><%= moment.utc(@CHANGE_DATE).local().format('L LT') %></div>
        </div>
    <% end %>
</div>
