<div class="popover-info">

    <div class="popover-info__row">
        <div class="popover-info__param"><%- App.t 'global.DISPLAY_NAME' %>:</div>
        <div class="popover-info__value"><%- @name %></div>
    </div>

    <div class="popover-info__row">
        <div class="popover-info__param"><%- App.t 'analysis.table.min_rows' %>:</div>
        <div class="popover-info__value"><%- @MIN_ROWS %></div>
    </div>

    <div class="popover-info__row">
        <div class="popover-info__param"><%- App.t 'analysis.table.rule' %>:</div>
        <div class="popover-info__value"><%- @VALUE %></div>
    </div>

</div>
