<div class="sidebar__indent">
    <header class="sidebar__header">
        <% if @can('edit_rule') and @rules : %>
        <div class="[ sidebar__toolbar _positionRight ] buttonDropdown dropdown" data-locked="edit_rule">

        <% if @rules.length is 1 : %>
            <button class='[ button _grey ]' data-rule="<%- @rules[0] %>" data-action="addRule"><%- App.t "entry.policy.add", context: "rule_#{@rules[0]}" %></button>
        <% else : %>
                <button
                    class="[ button _caret _grey ] dropdown-toggle"
                    data-toggle="dropdown"
                    data-locked="edit_rule"
                    id="create-policy-button"
                    ><%- App.t 'entry.policy.add', context: 'rule' %></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="create-policy-button">
                    <% i = 1 %>
                    <%for item in @rules : %>
                        <li><button data-rule="<%- item %>" data-action="addRule"><%- App.t "entry.policy.add", context: "rule_#{item}" %></button></li>
                    <% end %>
                </ul>
        <% end %>
        </div>
        <% end %>
        <h2 class="sidebar__title"><%- App.t "entry.policy.#{@TYPE}" %></h2>
    </header>
    <form class="form">
        <fieldset>
            <div class="form__row">
                <label for="DISPLAY_NAME" class="form__label"><%- App.t 'global.DISPLAY_NAME' %></label>
                <div class="form__elem">
                    <input
                        type="text"
                        placeholder="<%- App.t 'form.placeholder.name' %>"
                        maxlength="256"
                        required
                        name="DISPLAY_NAME">
                </div>
            </div>

            <div class="form__row">
                <label class="form__label"><%- App.t 'entry.policy.range' %></label>
                    <% include 'controls/form/selectdaterangepicker', @extend(
                        startName : 'START_DATE'
                        endName   : 'END_DATE'
                        default   : ['none', 'range']
                    ) %>
            </div>

            <div class="form__row">
                <label for="STATUS" class="form__label"><%- App.t 'global.status' %></label>
                <div class="form__elem">
                    <div class="tumbler">
                        <input class="tumbler__input" name="STATUS" type="checkbox">
                        <label for="STATUS" class="tumbler__toggle"></label>
                    </div>
                </div>
            </div>

            <h3 class="form__title"><%- App.t 'entry.policy.object_protect', context: @TYPE.toLowerCase() %></h3>
            <div class="entityList" data-region="objects"></div>
            <div class="[ form__row vertical ]">
                <label for="NOTE" class="form__label"><%- App.t 'global.description' %></label>
                <div class="form__elem">
                    <textarea
                        rows="2"
                        placeholder="<%- App.t 'form.placeholder.description' %>"
                        maxlength="1000"
                        name="NOTE"
                    ></textarea>
                </div>
            </div>

            <% include 'controls/form/date', @ %>
        </fieldset>
    </form>
</div>

<div class="sidebar__footer">
    <button type="submit" class="[ button _success ]" disabled><%- App.t 'global.save' %></button>
    <button type="reset" class="button"><%- App.t 'global.cancel' %></button>
</div>
