<input type="checkbox" class="popup__toggle">
<div class="popup"><div class="popup__position">
    <div class="popup__wrap" data-error-container>
        <div class="popup__indent">
            <h2 class="popup__title"><%- @title %></h2>
            <div class="[ popup__content size-medium ]">

                <% include 'events/query_builder/selection_create', @ %>

            </div>

            <div class="popup__footer">
                <button class="[ button _success ]" data-action="save"><%= App.t 'global.save' %></button>
                <button class="[ button _success ]" data-action="save_and_execute"><%= App.t 'events.conditions.save_and_execute' %></button>
                <button class="button" data-action="cancel"><%= App.t 'global.cancel' %></button>
            </div>

            <label for="popup__toggle" class="popup__close"></label>
        </div>
    </div>
</div></div>
