<select name="add_condition" style="width:300px">
    <option></option>

    <option value="block"><%- App.t "events.conditions.block" %></option>

    <% for group, conditions of @conditions: %>

        <% if not _.contains(@exclude, group) and _.without(conditions, @exclude).length : %>
          <optgroup label="<%- App.t "events.conditions.#{group}" %>">
        <% end %>

        <% for condition in conditions: %>
            <% unless condition in @exclude : %>
              <option value="<%- condition %>"><%- App.t "events.conditions.#{condition}" %></option>
            <% end %>
        <% end %>

        <% if not _.contains(@exclude, group) and _.without(conditions, @exclude).length : %>
          </optgroup>
        <% end %>

    <% end %>
</select>
