<form class="form eventRequest" data-error-container>
    <div class="form__row">
        <label for="DISPLAY_NAME" class="[ form__label size-normal ]"><%= App.t 'events.conditions.display_name' %></label>
        <div class="form__elem"><input type="text" name="DISPLAY_NAME" maxlength="255" data-error-style="tooltip" data-tooltip-position="bottom"></div>
    </div>
    <ul class="tabs">
        <li class="tabs__item active">
            <a class="tabs__link" href="#condition" data-toggle="tab"><%= App.t 'events.conditions.condition' %></a>
        </li>
        <li class="tabs__item">
            <a class="tabs__link" href="#advanced_params" data-toggle="tab"><%= App.t 'events.conditions.condition_fields' %></a>
        </li>
        <% if not @USER_ID or @USER_ID == App.Session.currentUser().get('USER_ID') : %>
            <li class="tabs__item">
                <a class="tabs__link" href="#access" data-toggle="tab"><%= App.t 'events.conditions.condition_access' %></a>
            </li>
        <% end %>
    </ul>
    <div class="eventRequest__tabs tab-content">
        <div class="eventRequest__tab tab-pane active" id="condition" data-region="condition_params"></div>

        <div class="eventRequest__tab tab-pane" data-region="advanced_params" id="advanced_params"></div>

        <% if not @USER_ID or @USER_ID == App.Session.currentUser().get('USER_ID') : %>
            <div class="eventRequest__tab tab-pane" data-region="access" id="access"></div>
        <% end %>
    </div>
</form>
