<div class="popover-info">
    <div class="popover-info__row">
        <div class="popover-info__param popover-info__param--inline"><%- App.t "entry.policy.#{@type}", context: 'action' %>:</div>
        <div class="popover-info__value">
            <% item = @data[0] %>
            <% model = @entry.get(item.TYPE, item.ID) %>
            <div class="popover-info__value-item <%- if @entry.isDeleted item then " deleted" else "" %>">
                <% if model?.COLOR : %><div class="tag__color" data-color='<%- model.COLOR %>'></div><% end %>
                <span><%- @entry.getName item %></span>
            </div>
        </div>
    </div>
</div>
