<div class="contentHeader">
    <h2 class="contentHeader__title" data-ui="header"></h2>
</div>

<div data-region="diagnostic"></div>

<div class="toolbar">
    <div class="toolbar__actions">
        <div class="buttonSet">
            <button
                class="[ button _icon ] [ icon _play ]"
                data-action="start"
                title="<%- App.t 'settings.services.start' %>"
                disabled>
            </button>
            <button
                class="[ button _icon ] [ icon _restart ]"
                data-action="restart"
                title="<%- App.t 'settings.services.restart' %>"
                disabled>
            </button>
            <button
                class="[ button _icon ] [ icon _stop ]"
                data-action="stop"
                title="<%- App.t 'settings.services.stop' %>"
                disabled>
            </button>
        </div>
    </div>
</div>

<div class="content__indent _scrollable">
    <div
        class="grid__content"
        data-grid
        data-empty
        data-message="<%- App.t 'global.empty' %>"
        ></div>
</div>
