<% switch parseInt(@STATUS, 10) : %>
    <% when 0 : %>
        <div class="systemMessage__information">
            <%- App.t 'configuration.free_configuration_msg',
                timestamp: moment.utc(@CHANGE_DATE).local().format('L LT') %>
        </div>
    <% end %>
    <% when 1 : %>
        <% if parseInt(@USER_ID, 10) is parseInt(App.Session.currentUser().get('USER_ID'), 10) : %>
            <div class="systemMessage__information">
                <%- App.t 'configuration.edit_configuration_msg',
                    timestamp: moment.utc(@CHANGE_DATE).local().format('L LT') %>
            </div>
        <% else : %>
            <div class="systemMessage__information">
                <%- App.t 'configuration.edit_configuration_msg2',
                    username: @locale[@user.DISPLAY_NAME] ? @user.DISPLAY_NAME,
                    timestamp: moment.utc(@CHANGE_DATE).local().format('L LT') %>
            </div>
        <% end %>
    <% end %>
    <% when 2 : %>
        <% if parseInt(@USER_ID, 10) is parseInt(App.Session.currentUser().get('USER_ID'), 10) : %>
            <div class="systemMessage__warning">
                <%- App.t 'configuration.save_configuration_msg2',
                    timestamp: moment.utc(@CHANGE_DATE).local().format('L LT') %>
            </div>
        <% else : %>
            <div class="systemMessage__information">
                <%- App.t 'configuration.save_configuration_msg',
                    username: @locale[@user.DISPLAY_NAME] ? @user.DISPLAY_NAME,
                    timestamp: moment.utc(@CHANGE_DATE).local().format('L LT') %>
            </div>
        <% end %>
    <% end %>
<% end %>
