<% if (@OPERATION isnt 'edit') or (@FIELDS.diff_keys) : %>
  <h3 class="configuration__title">
      <% switch @OPERATION : %>
          <% when 'add'    : %><i class='fontello-icon-plus-circle-1'></i><%= "#{App.t 'configuration.actions.create'} " %><% end %>
          <% when 'edit'   : %><i class='fontello-icon-pencil-3'></i><%= "#{App.t 'configuration.actions.edit'} " %><% end %>
          <% when 'delete' : %><i class='fontello-icon-cancel-circle'></i><%= "#{App.t 'configuration.actions.delete'} " %><% end %>
      <% end %>
      <% if $.i18n.exists "configuration.entities.#{@ENTITY.toLowerCase()}" : %>
        <%= App.t "configuration.entities.#{@ENTITY.toLowerCase()}" %>
      <% else : %>
        <%= @ENTITY %>
      <% end %>
      <strong><%= @DISPLAY_NAME %></strong>
  </h3>
<% end %>

<% if @OPERATION is 'add' or @OPERATION is 'delete' : %>
    <table class="default-table configuration__table">
        <tr>
            <th><%= App.t 'configuration.attribute' %></th>
            <th><%= App.t 'configuration.value' %></th>
        </tr>
        <% include "configuration/entities/#{@ENTITY}", @ %>
    </table>
<% else if @FIELDS.diff_keys : %>
    <table class="default-table configuration__table">
        <tr>
            <th><%= App.t 'configuration.attribute' %></th>
            <th><%= App.t 'configuration.old_value' %></th>
            <th><%= App.t 'configuration.new_value' %></th>
        </tr>
        <% include "configuration/entities/#{@ENTITY}", @ %>
    </table>
<% end %>
