<div class="popup__content">
    <fieldset>
        <div class="form__row">
            <label for="DISPLAY_NAME" class="form__label"><%- App.t 'analysis.stamp.display_name' %></label>
            <div class="form__elem"><input type="text" name="DISPLAY_NAME"></div>
        </div>
        <div class="form__row">
            <label for="FILE_PATH" class="form__label"><%- App.t 'analysis.stamp.file_path' %></label>
            <div class="form__elem"><input type="text" name="FILE_PATH" disabled="disabled"></div>
        </div>
        <div class="form__row">
            <label for="MIME" class="form__label"><%- App.t 'analysis.stamp.mime' %></label>
            <div class="form__elem"><input type="text" name="MIME" disabled="disabled"></div>
        </div>
        <div class="form__row">
            <label for="FILE_SIZE" class="form__label"><%- App.t 'analysis.stamp.file_size' %></label>
            <div class="form__elem"><input type="text" name="FILE_SIZE" disabled="disabled"></div>
        </div>
        <div class="form__row">
            <label for="NOTE" class="[ form__label ]"><%- App.t 'global.NOTE' %></label>
            <div class="form__elem">
                <textarea name="NOTE" maxlength="1000" placeholder="<%- App.t 'form.placeholder.description' %>"></textarea>
            </div>
        </div>

        <% include 'controls/form/date', @ %>
    </fieldset>
</div>
<div class="popup__footer">
    <button class="[ button _success ]" type="submit" disabled><%- App.t "global.edit", context: "success" %></button>
    <button class="button" data-action="cancel" type="reset"><%- App.t 'global.cancel' %></button>
</div>
