<div class="popup__content">
    <fieldset>
        <div class="form__row">
            <label for="TEXT" class="form__label"><%- App.t 'analysis.term.text' %></label>
            <div class="form__elem"><input data-form-autofocus="true" type="text" name="TEXT" placeholder='<%- App.t "analysis.term.term_text_placeholder" %>'></div>
        </div>
        <h2 class="form__title"><%- App.t 'analysis.term.term_block_label' %></h2>
        <div class="form__row">
            <label for="CHARACTERISTIC" class="form__label"><%- App.t 'analysis.term.characteristic' %></label>
            <div class="form__elem">
                <div class="tumbler">
                    <input class="tumbler__input" name="CHARACTERISTIC" type="checkbox">
                    <label for="CHARACTERISTIC" class="tumbler__toggle"></label>
                </div>
            </div>
        </div>
        <div class="form__row">
            <label for="WEIGHT" class="form__label"><%- App.t 'analysis.term.weight' %></label>
            <div class="[ form__elem size-short ]"><input type="number" name="WEIGHT" min="1" max="10"></div>
        </div>
        <div class="form__row">
            <label for="TERM_LANGUAGE" class="form__label"><%- App.t 'analysis.term.language' %></label>
            <div class="form__elem size-200">
                <select name="LANGUAGE">
                    <% for i of @helpers.getLanguages() : %>
                    <option value="<%- i %>"><%- @helpers.getLanguages i %></option>
                    <% end %>
                </select>
            </div>
        </div>
        <div class="form__row">
            <label for="MORPHOLOGY" class="form__label"><%- App.t 'analysis.term.morphology' %></label>
            <div class="form__elem">
                <div class="tumbler">
                    <input class="tumbler__input" name="MORPHOLOGY" type="checkbox">
                    <label for="MORPHOLOGY" class="tumbler__toggle"></label>
                </div>
            </div>
        </div>
        <div class="form__row">
            <label for="CASE_SENSITIVE" class="form__label"><%- App.t 'analysis.term.case_sensitive' %></label>
            <div class="form__elem">
                <div class="tumbler">
                    <input class="tumbler__input" name="CASE_SENSITIVE" type="checkbox">
                    <label for="CASE_SENSITIVE" class="tumbler__toggle"></label>
                </div>
            </div>
        </div>

        <% include 'controls/form/date', @ %>
    </fieldset>
</div>
<div class="popup__footer">
    <button class="[ button _success ]" disabled type="submit" data-type="<%- @action %>"><%- App.t "global.#{@action}", context: "success" %></button>
    <button class="button" data-action="cancel" type="reset"><%- App.t 'global.cancel' %></button>
</div>
