<div class="popup__content size-short">
    <fieldset>
        <div class="form__row">
            <label for="ENABLED" class="form__label"><%- App.t 'global.status' %></label>
            <div class="form__elem">
                <div class="tumbler">
                    <input class="tumbler__input" name="ENABLED" type="checkbox">
                    <label for="ENABLED" class="tumbler__toggle"></label>
                </div>
            </div>
        </div>

        <div class="form__row">
            <label class="form__label"><%- App.t 'entry.text_object_pattern.pattern_type' %></label>
            <div class="formSwitch">
                <label class="formSwitch__item">
                    <input class="formSwitch__input" name="IS_REGEXP" type="radio" value="0">
                    <span class="formSwitch__toggle"><%- App.t 'entry.text_object_pattern.string' %></span>
                </label>
                <label class="formSwitch__item">
                    <input class="formSwitch__input" name="IS_REGEXP" type="radio" value="1">
                    <span class="formSwitch__toggle"><%- App.t 'entry.text_object_pattern.regexp' %></span>
                </label>
            </div>
        </div>

        <div class="[ form__row vertical ]">
            <label for="TEXT_STRING" class="form__label" data-ui="textLabel"></label>
            <div class="form__elem">
                <textarea data-form-autofocus="true" name="TEXT" data-ui="textInput"></textarea>
            </div>
        </div>
        <div class="[ form__row vertical ]" data-ui="regexp">
            <label for="TEXT_REGEXP" class="form__label"><%- App.t 'entry.text_object_pattern.validation_text' %></label>
            <div class="form__elem">
                <textarea data-ui="validation" placeholder="<%- App.t 'entry.text_object_pattern.validation_text_placeholder' %>"></textarea>
            </div>
        </div>
        <div class="[ form__row vertical ]" data-ui="regexp">
            <label class="form__label"><%- App.t 'entry.text_object_pattern.verification' %></label>
            <div class="form__elem">
                <div data-ui="verification" display="white-space: pre-wrap"></div>
            </div>
        </div>
        <div class="form__row" data-ui="regexp">
            <div class="form__elem">
                <button class="button" data-ui="verify" type="button"><%- App.t 'global.check', context: 'success' %></button>
            </div>
        </div>

        <div class="[ form__row vertical ]">
            <label for="NOTE" class="[ form__label ]"><%- App.t 'global.NOTE' %></label>
            <div class="form__elem">
                <textarea placeholder="<%- App.t 'form.placeholder.description' %>" name="NOTE" maxlength="1000"></textarea>
            </div>
        </div>
        <% include 'controls/form/date', @ %>
    </fieldset>
</div>
<div class="popup__footer">
    <button class="[ button _success ]" type="submit" disabled><%- App.t "global.#{@action}", context: "success" %></button>
    <button class="button" data-action="cancel" type="reset"><%- App.t 'global.cancel' %></button>
</div>
