<div class="eventDetails__threat">
    <i title='<%= App.t "events.conditions.violation_level" %>: <%= App.t "events.conditions.violation_level_#{@VIOLATION_LEVEL?.toLowerCase()}" %>' class="[ eventDetails__threatIcon _<%= @VIOLATION_LEVEL?.toLowerCase() %> ]"></i>
</div>
<div class="eventDetails__type">
    <% include "events/event_type", @ %>
</div>
<div class="eventDetails__userDecision" title="<%= App.t 'events.conditions.user_decision' %>: <%= App.t('events.events.' + @USER_DECISION) %>">
    <i class="[ icon <%= "_userDecision#{@USER_DECISION}" %> ]"></i>
</div>
<div class="eventDetails__verdict"><i class="[ icon <%= "_verdict#{@VERDICT}" %> ]" title='<%= App.t 'events.conditions.verdict' %>: <%= App.t "events.conditions.verdict_#{@VERDICT.toLowerCase()}" %>'></i></div>
<div class="eventDetails__sendStatus">
    <i
        class="[ icon _sendStatus<%= @FORWARD_STATE_CODE %> ]"
        title='<%= App.t "events.conditions.forward_state_code" %>: <%= App.t "events.conditions.sent_statuses.#{@FORWARD_STATE_CODE}" %>'
    ></i>
</div>
