<% if @perimeters_routes.length : %>
<div class="form__row _indentShort">
    <label class="form__label"><%= App.t 'events.conditions.perimeters' %></label>
    <div class="eventDetail__items [ form__col _wrappable ]" data-collapse-container>
        <% for perimeter_transition in @perimeters_routes : %>
            <div class="unit" data-collapse-item>
                <div class="unit__name">
                    <% if perimeter_transition.out.length : %>
                      <% perimeter_keys = _.uniq(_.map(perimeter_transition.out, (item) -> "#{item.key.KEY_TYPE}:#{item.key.KEY}")).join('||') %>
                    <% else if perimeter_transition.null_keys : %>
                      <% perimeter_keys = _.uniq(_.map(perimeter_transition.null_keys, (key) -> "#{key.KEY_TYPE}:#{key.KEY}")).join('||') %>
                    <% end %>
                    <a
                        href='javascript: void(0)'
                        class='unit__link popover_info <%= if perimeter_transition.OUT_IS_DELETED then "deleted" %>'
                        data-id='<%= perimeter_transition.OUT_PERIMETER_ID %>'
                        data-type='perimeter'
                        data-keys='<%= perimeter_keys %>'
                        data-name='<%= perimeter_transition.OUT_DISPLAY_NAME %>'
                        >
                        <% if perimeter_transition.OUT_PERIMETER_ID is 'null' : %>
                            <i class="[ icon _perimeterUnknown _sizeSmall ]"></i> <%= App.t 'events.events.missed_perimeter' %>
                        <% else : %>
                            <i class="[ icon _perimeter _sizeSmall ]"></i> <%= perimeter_transition.OUT_DISPLAY_NAME %>
                        <% end %>
                    </a>
                </div>
                <i class="unit__arrow">→</i>
                <div class="unit__name">
                    <% if perimeter_transition.in.length : %>
                      <% perimeter_keys = _.uniq(_.map(perimeter_transition.in, (item) -> "#{item.key.KEY_TYPE}:#{item.key.KEY}")).join('||') %>
                    <% else if perimeter_transition.null_keys : %>
                      <% perimeter_keys = _.uniq(_.map(perimeter_transition.null_keys, (key) -> "#{key.KEY_TYPE}:#{key.KEY}")).join('||') %>
                    <% end %>
                    <a
                        href='javascript: void(0)'
                        class='unit__link popover_info <%= if perimeter_transition.IN_IS_DELETED then "deleted" %>'
                        data-id='<%= perimeter_transition.IN_PERIMETER_ID %>'
                        data-type='perimeter'
                        data-keys='<%= perimeter_keys %>'
                        data-name='<%= perimeter_transition.IN_DISPLAY_NAME %>'
                        >
                        <% if perimeter_transition.IN_PERIMETER_ID is 'null' : %>
                            <i class="[ icon _perimeterUnknown _sizeSmall ]"></i> <%= App.t 'events.events.missed_perimeter' %>
                        <% else : %>
                            <i class="[ icon _perimeter _sizeSmall ]"></i> <%= perimeter_transition.IN_DISPLAY_NAME %>
                        <% end %>
                    </a>
                </div>
            </div>
        <% end %>
    </div>
</div>
<% end %>
