<div class="contentHeader">
    <h2 class="contentHeader__title"><%= App.t 'organization.persons' %></h2>
    <div class="controlPanel">
        <div class="buttonSet controlPanel__tabs" id="tm-organization-tabs"></div>
        <div class="controlPanel__search">
            <input
                class="searchBlock__field"
                type="text"
                placeholder="<%= App.t 'organization.live_search' %>"
                autocomplete="off"
                >
        </div>
        <div class="controlPanel__filter">
            <select id="state_filter">
                <option value=""><%- App.t 'organization.all' %></option>
                <option value="0"><%- App.t 'organization.active_state' %></option>
                <option value="1"><%- App.t 'organization.inactive_state' %></option>
            </select>
        </div>
        <div class="controlPanel__block">
            <div class="controlPanel__filter">
                <select id="status_filter" multiple="multiple" class="multiselect"></select>
            </div>
            <div class="controlPanel__toolbar buttonSet">
                <button
                    class="[ button _icon ] [ icon _create ]"
                    id="add-person-workstation-item"
                    title="global.create"
                    disabled>
                </button>
                <button
                    class="[ button _icon ] [ icon _edit ]"
                    id="edit_try_edit-person-workstation-item"
                    title="global.edit"
                    disabled>
                </button>
                <button
                    class="[ button _icon ] [ icon _delete ]"
                    id="delete-person-workstation-item"
                    title="global.delete"
                    disabled>
                </button>
                <div class="buttonDropdown dropdown">
                    <button class="[ button _caret ] dropdown-toggle" data-toggle="dropdown" type="button"></button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="toolbarDropdownButton">
                        <li><button type="button" id="leave-group-person-workstation-item" disabled><%- App.t "organization.leave_current_group" %></button></li>
                        <li><button type="button" id="person-workstation-set-status-item" disabled><%- App.t "organization.set_status" %></button></li>
                        <li><button type="button" id="person-create-policy" disabled><%- App.t "organization.create_policy" %></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="[ content__indent _scrollable ]" id="tm-organization-tab-content"></div>
