<% extend "dialogs/confirm" %>
<div class="employeeExtended">
    <form class="employeeExtended__primary form">
        <div class="form__row">
            <label class="form__label"><%= App.t 'organization.thumbnailphoto' %></label>
            <div class="form__elem">
                <div class="employeeExtended__ava">
                    <img id="ava-preview" width=67 height=67 src="<%= App.Config.server %>/api/ldapPerson/image?person_id=<%- @PERSON_ID %>">
                </div>
                <%
                    if @helpers.can({action: 'edit', type: 'person'}) and
                    @SOURCE not in ["ad", "dd"]
                : %>
                    <label class="button"><input id="add-ava-to-person" type="file" accept="image/jpeg,image/png,image/gif"><%= App.t 'global.upload' %></label>
                <% end %>
                <button type="reset" id="delete_ava_person" class="[ button _grey ]"><%- App.t "global.delete" %></button>
            </div>
        </div>
        <div class="form__row">
            <label class="form__label"><%- App.t 'organization.last_name' %></label>
            <div class="form__elem">
                <input
                    <%= 'disabled="disabled"' unless @helpers.can({action: 'edit', type: 'person'}) %>
                    autofocus
                    data-error-style="tooltip"
                    data-tooltip-position="top"
                    name="SN"
                    type="text"
                    title="<%- App.t 'organization.last_name' %>"
                    <%- if @SOURCE in ["ad", "dd"] then "disabled" else "required" %>
                >
            </div>
        </div>
        <div class="form__row">
            <label class="form__label"><%- App.t 'organization.first_name' %></label>
            <div class="form__elem">
                <input
                    <%= 'disabled="disabled"' unless @helpers.can({action: 'edit', type: 'person'}) %>
                    data-error-style="tooltip"
                    name="GIVENNAME"
                    type="text"
                    title="<%- App.t 'organization.first_name' %>"
                    <%- if @SOURCE in ["ad", "dd"] then "disabled" else "required" %>
                >
            </div>
        </div>
        <div class="form__row">
            <label class="form__label" for="IS_EMPLOYEE"><%= App.t 'organization.is_employee' %></label>
            <div class="form__elem">
                <div class="tumbler">
                    <input
                        class="tumbler__input"
                        name="IS_EMPLOYEE"
                        id="IS_EMPLOYEE"
                        type="checkbox"
                        checked
                        <%
                            if (
                                @helpers.islock({action: 'edit', type: 'person'}) or
                                @SOURCE in ["ad", "dd"]
                            )
                        : %>
                            disabled
                        <% end %>
                        >
                    <label for="IS_EMPLOYEE" class="tumbler__toggle"></label>
                </div>
            </div>
        </div>
        <div class="form__row">
            <label class="form__label"><%- App.t 'organization.post' %></label>
            <div class="form__elem">
                <input
                    type="text"
                    maxlength="1000"
                    title="<%- App.t 'organization.post' %>"

                    <%
                        unless @helpers.can({action: 'edit', type: 'person'})
                    : %>
                        disabled
                    <% end %>

                    <%- @proper_name "TITLE" %>
                    <%- @is_ad_field "TITLE" %>
                    >
            </div>
        </div>
        <div class="form__row">
            <label class="form__label"><%- App.t 'organization.department' %></label>
            <div class="form__elem">
                <input
                    type="text"
                    maxlength="1000"
                    title="<%- App.t 'organization.department' %>"

                    <%
                        unless @helpers.can({action: 'edit', type: 'person'})
                    : %>
                        disabled
                    <% end %>

                    <%- @proper_name "DEPARTMENT" %>
                    <%- @is_ad_field "DEPARTMENT" %>
                    >
            </div>
        </div>
        <div class="form__row">
            <label class="form__label"><%- App.t 'organization.room' %></label>
            <div class="form__elem">
                <input
                    type="text"
                    maxlength="1000"
                    title="<%- App.t 'organization.room' %>"

                    <%
                        unless @helpers.can({action: 'edit', type: 'person'})
                    : %>
                        disabled
                    <% end %>

                    <%- @proper_name "PHYSICALDELIVERYOFFICENAME" %>
                    <%- @is_ad_field "PHYSICALDELIVERYOFFICENAME" %>
                    >
            </div>
        </div>
        <div class="form__row">
            <label class="form__label"><%- App.t 'organization.manager' %></label>
            <div class="form__elem">
                <input
                    <%- 'disabled' unless @helpers.can({action: 'edit', type: 'person'}) %>
                    id="tm_manager" type="hidden"
                    name="TM_MANAGER"
                    value="<%- @TM_MANAGER %>"
                    >
                <input
                    <%- 'disabled' unless @helpers.can({action: 'edit', type: 'person'}) %>
                    id="tm_manager_id"
                    type="hidden"
                    name="TM_MANAGER_ID"
                    value="<%- @TM_MANAGER_ID %>"
                    >
            </div>
        </div>
        <hr class="form__line">
        <div class="form__row vertical">
            <label class="form__label"><%- App.t 'organization.note', n : 1000 %></label>
            <div class="form__elem">
                <textarea
                    maxlength="1000"
                    title="<%- App.t 'organization.note', n : 1000 %>"

                    <%
                        unless @helpers.can({action: 'edit', type: 'person'})
                    : %>
                        disabled
                    <% end %>

                    <%- @proper_name "DESCRIPTION" %>
                    <%- @is_ad_field "DESCRIPTION" %>
                ></textarea>
            </div>
        </div>
        <div class="form__unit-info">
            <div class="form__create-date"><%- App.t "global.create_date" %>: <%= App.Helpers.show_datetime @CREATE_DATE %></div>
            <div class="form__change-date"><%- App.t "global.change_date" %>: <%= App.Helpers.show_datetime @CHANGE_DATE %></div>
        </div>
    </form>
    <div class="employeeExtendedTab">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#unit_tabs--contacts" data-toggle="tab"><%- App.t 'organization.contacts' %></a>
            </li>
            <li>
                <a href="#unit_tabs--groups" data-toggle="tab"><%- App.t 'organization.groups' %></a>
            </li>
            <li>
                <a href="#unit_tabs--workstations" data-toggle="tab"><%- App.t 'organization.workstations' %></a>
            </li>
            <li>
                <a href="#unit_tabs--statuses" data-toggle="tab"><%- App.t 'organization.statuses' %></a>
            </li>
        </ul>
        <div class="tab-content employeeExtendedTab__content">
            <div class="tab-pane active" id="unit_tabs--contacts"></div>
            <div class="tab-pane" id="unit_tabs--groups"></div>
            <div class="tab-pane" id="unit_tabs--workstations"></div>
            <div class="tab-pane" id="unit_tabs--statuses"></div>
        </div>
    </div>
</div>
