<input type="checkbox" class="popup__toggle">
<div class="popup">
    <div class="popup__position">
        <div class="popup__wrap" data-error-container>
            <div class="popup__indent">
                <h2 class="popup__title"><%- @modal_dialog_title %></h2>

                <form action="" class="form">
                    <div id="elements_paginator"></div>

                    <input data-action="search" type="text" placeholder="<%= App.t 'form.placeholder.search' %>">

                    <div id="elements_table"></div>

                    <div class="form__row vertical">
                        <label for="NOTE" class="form__label size-full"><%= App.t 'configuration.note' %></label>
                        <div class="form__elem">
                            <textarea name="NOTE" maxlength="1000"></textarea>
                        </div>
                    </div>

                    <div class="popup__footer">
                        <button class="[ button _success ]" data-success><%= App.t 'global.save' %></button>
                        <button class="button" data-action="cancel"><%= App.t 'global.cancel' %></button>
                    </div>
                </form>

                <label for="popup" class="popup__close"></label>
            </div>
        </div>
    </div>
</div>
