<% extend "dialogs/confirm" %>
<div class="employeeExtended">
    <form class="employeeExtended__primary form">
        <fieldset>
            <div class="form__row">
                <label class="form__label"><%- App.t 'organization.first_name' %></label>
                <div class="form__elem">
                    <input
                    <%= 'disabled="disabled"' unless @helpers.can({action: 'edit', type: 'workstation'}) %>
                    autofocus data-error-style="tooltip"
                    name="DISPLAY_NAME"
                    maxlength="64"
                    type="text"
                    title="<%- App.t 'organization.first_name' %>"
                    <%- if @SOURCE in ["ad", "dd"] then "disabled" %>>
                </div>
            </div>
            <div class="form__row">
                <label class="form__label"><%= App.t 'events.conditions.workstation_type' %></label>
                <div class="form__elem">
                    <select name="TYPE">
                        <option value="computer"><%= App.t 'organization.workstation_computer' %></option>
                        <option value="mobile"><%= App.t 'organization.workstation_mobile' %></option>
                        <option value="terminal"><%= App.t 'organization.workstation_terminal' %></option>
                    </select>
                </div>
            </div>
            <div class="form__row">
                <label class="form__label"><%- App.t 'organization.os' %></label>
                <div class="form__elem">
                    <input disabled name="OPERATINGSYSTEM" type="text" title="<%- App.t 'organization.os' %>">
                </div>
            </div>
            <div class="form__row">
                <label class="form__label"><%- App.t 'organization.os_sp' %></label>
                <div class="form__elem">
                    <input disabled name="OPERATINGSYSTEMSERVICEPACK" type="text" title="<%- App.t 'organization.os_sp' %>">
                </div>
            </div>
            <div class="form__row">
                <label class="form__label"><%- App.t 'organization.os_version' %></label>
                <div class="form__elem">
                    <input disabled name="OPERATINGSYSTEMVERSION" type="text" title="<%- App.t 'organization.os_version' %>">
                </div>
            </div>

            <hr class="form__line">
            <div class="form__row vertical">
                <label class="form__label">Комментарий</label>
                <div class="form__elem">
                    <textarea
                        <%= 'disabled' if @helpers.islock({action: 'edit', type: 'workstation'}) %>
                        name="TM_DESCRIPTION"
                        maxlength=1000
                        placeholder="<%- App.t 'organization.note', n : 1000 %>"
                        title="<%- App.t 'organization.note', n : 1000 %>"
                    ></textarea>
                </div>
            </div>
            <div class="form__unit-info">
                <div class="form__create-date"><%- App.t "global.create_date" %>: <%= App.Helpers.show_datetime @CREATE_DATE %></div>
                <div class="form__change-date"><%- App.t "global.change_date" %>: <%= App.Helpers.show_datetime @CHANGE_DATE %></div>
            </div>
        </fieldset>
    </form>

    <div class="employeeExtendedTab">
        <ul id="unit_tabs" class="nav nav-tabs">
            <li class="active">
                <a href="#unit_tabs--contacts" data-toggle="tab" data-original-title="" title=""><%- App.t 'organization.contacts' %></a>
            </li>
            <li>
                <a href="#unit_tabs--persons" data-toggle="tab" data-original-title="" title=""><%- App.t 'organization.persons' %></a>
            </li>
            <li>
                <a href="#unit_tabs--groups" data-toggle="tab" data-original-title="" title=""><%- App.t 'organization.groups' %></a>
            </li>
            <li>
                <a href="#unit_tabs--statuses" data-toggle="tab" data-original-title="" title=""><%- App.t 'organization.statuses' %></a>
            </li>
        </ul>
        <div class="employeeExtendedTab__content tab-content">
            <div class="tab-pane  active" data-error-container id="unit_tabs--contacts"></div>
            <div class="tab-pane" id="unit_tabs--persons"></div>
            <div class="tab-pane" id="unit_tabs--groups"></div>
            <div class="tab-pane" id="unit_tabs--statuses"></div>
        </div>
    </div>
<!--
<div class="employee-extended" data-error-container>
    <div class="employee-extended__wrap">

                <div class="form__row employee-extended__row submit">
                    <div class="form__elem">
                        <span class="js-save-person-workstation-item [ button _success ] <%= 'button-disabled' if @helpers.islock({action: 'edit', type: 'workstation'}) %>"><%- App.t 'global.save' %></span>
                    </div>
                </div>

            </form>
        </div>
        <!-- /User creation -->

        <!-- User tabs -->

        <!-- /User tabs -->

<!--     </div>
    <a href="#" class="js-close-edit-person-workstation-item employee-extended__close" data-original-title="" title=""></a>
</div> -->
