@charset "UTF-8";

@import "../../base/variables";

.widget-content {
  padding: 0 10px 10px;
}

.widget-content__header {
  position: relative;
  min-height: 34px;
  padding: 7px 5px;
}

.widget-content-events {
  padding: 20px 25px;
}

.widget-content__range-picker {
  position: absolute;
  top: 8px;
  right: 5px;

  padding: 5px 10px;
  line-height: 20px;

  background-color: #fff;
  border: 1px solid #e5e5e5;

  i:before {
    margin-right: 1px;
  }

  b {
    top: 8px;
  }
}

.widget-content__settings {
  padding: 25px;
}

.widget-content__empty {
  position: absolute;
  top: 50%;
  width: 100%;

  padding: 0 15px;
  box-sizing: border-box;

  background-color: #bababa;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  color: transparent;
  text-align: center;
  font-size: 18px;
}

.widget-content__footer {
  position: absolute;
  bottom: 15px;
}


.widget-content__period {
  display: inline-block;
}