<% if @OPERATION is 'add' or @OPERATION is 'delete' : %>

    <!-- Выводим собственные аттрибуты выгрузок из БД -->
	<% for key, value of @FIELDS[@ENTITY] when key not in ['QUANTITY_THRESHOLD', 'FILE_CHECKSUM', 'TEXT_VALUE_THRESHOLD', 'BIN_VALUE_THRESHOLD', 'CONDITION_COLUMNS', 'ENTITY'] : %>
        <tr>
            <td><%= @locale[key] or @locale[key.toLowerCase()] or key %></td>
            <td>
                <% include "configuration/entities/_show_attribute", _.merge @, attributes: @FIELDS[@ENTITY], key: key %>
            </td>
        </tr>
    <% end %>

    <!-- Выводим категорию выгрузки из БД -->
    <!-- ToDo: Убрать проверку после исправления на бэкэнде -->
    <% if @FIELDS.CATEGORY : %>
    <tr>
        <td><%= @locale.category_id %></td>
        <td><%= @FIELDS.CATEGORY.DISPLAY_NAME %></td>
    </tr>
    <% end %>

    <!-- Показываем список заголовков из выгрузки -->
    <tr>
        <td><%= @locale.columns %></td>
        <td>
            <%= $.parseJSON(@FIELDS[@ENTITY].CONDITION_COLUMNS).join(', ') %>
        </td>
    </tr>

    <!-- Показываем список условий из выгрузки -->
    <% if @FIELDS.conditions : %>
        <tr>
            <td><%= @locale.rule %></td>
            <td>
                <table>
                    <tr class="default-table">
                        <th><%= @locale.condition_display_name %></th>
                        <th><%= @locale.rule %></th>
                        <th><%= @locale.min_rows %></th>
                    </tr>
                    <% for value in @FIELDS.conditions : %>
                        <tr>
                            <td><%= value.DISPLAY_NAME %></td>
                            <td><%= value.VALUE %></td>
                            <td><%= value.MIN_ROWS %></td>
                        </tr>
                    <% end %>
                </table>
            </td>
        </tr>
    <% end %>

<% else : %>

    <!-- Выводим собственные аттрибуты выгрузок из БД -->
    <% if @FIELDS.diff_keys[@ENTITY] : %>
        <% for key in @FIELDS.diff_keys[@ENTITY] when key not in ['QUANTITY_THRESHOLD', 'FILE_CHECKSUM', 'TEXT_VALUE_THRESHOLD', 'BIN_VALUE_THRESHOLD', 'CONDITION_COLUMNS', 'ENTITY'] : %>
            <tr>
                <td><%=  @locale[key] or @locale[key.toLowerCase()] or key %></td>
                <% for k in ['old', 'new'] : %>
                    <td>
                        <% include "configuration/entities/_show_attribute", _.merge @, attributes: @FIELDS[k][@ENTITY], key: key %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    <% end %>

    <!-- Выводим категории выгрузки из БД -->
    <% if @FIELDS.diff_keys.category : %>
        <tr>
            <td><%= @locale.category_id %></td>
            <% for k in ['old', 'new'] : %>
                <td>
                    <% for category in @FIELDS.old.category : %>
                        <%= @locale[category.DISPLAY_NAME] or category.DISPLAY_NAME %></br>
                    <% end %>
                </td>
            <% end %>
        </tr>
    <% end %>

    <!-- Показываем список условий из выгрузки -->
    <% if @FIELDS.diff_keys.conditions : %>
        <tr>
            <td><%= @locale.rule %></td>
            <% for k in ['old', 'new'] : %>
                <td>
                    <table class="default-table">
                        <tr>
                            <th><%= @locale.condition_display_name %></th>
                            <th><%= @locale.rule %></th>
                            <th><%= @locale.min_rows %></th>
                        </tr>
                        <% for value in @FIELDS[k].conditions : %>
                            <tr>
                                <td><%= value.DISPLAY_NAME %></td>
                                <td><%= value.VALUE %></td>
                                <td><%= value.MIN_ROWS %></td>
                            </tr>
                        <% end %>
                    </table>
                </td>
            <% end %>
        </tr>
    <% end %>

<% end %>
