<% if @OPERATION is 'add' or @OPERATION is 'delete' : %>

    <% for key, value of @FIELDS[@ENTITY] when key not in ['OWNER', 'ENTITY', 'ADD_NOTE'] : %>
        <tr>
            <td><%= @locale[key.toLowerCase()] or key %></td>
            <td>
                <% include "configuration/entities/_show_attribute", _.merge @, attributes: @FIELDS[@ENTITY], key: key %>
            </td>
        </tr>
    <% end %>

<% else : %>

    <% for key in @FIELDS.diff_keys[@ENTITY] when key not in ['OWNER', 'ENTITY', 'ADD_NOTE'] : %>
        <tr>
            <td><%=  @locale[key.toLowerCase()] or key %></td>
            <% for k in ['old', 'new'] : %>
                <td>
                    <% include "configuration/entities/_show_attribute", _.merge @, attributes: @FIELDS[k][@ENTITY], key: key %>
                </td>
            <% end %>
        </tr>
    <% end %>

<% end %>
