<% if @OPERATION is 'add' or @OPERATION is 'delete' : %>

    <% if @FIELDS[@ENTITY].HAS_TM_THUMBNAILPHOTO is true : %>
        <tr>
            <td>
                <%- @locale.thumbnailphoto %>
            </td>
            <% include "configuration/entities/_person_thumb", _.merge @, id: @FIELDS.PERSON_ID %>
        </tr>
    <% end %>

    <!-- Выводим собственные аттрибуты персоны -->
    <% for key, value of @FIELDS[@ENTITY] when key not in ['TM_MANAGER_ID', 'HAS_TM_THUMBNAILPHOTO', 'ENTITY', 'SOURCE', 'TM_PHOTO'] : %>
        <tr>
            <td><%= @locale[key.toLowerCase()] or key %></td>
            <td>
                <% include "configuration/entities/_show_attribute", _.merge @, attributes: @FIELDS[@ENTITY], key: key %>
            </td>
        </tr>
    <% end %>

    <!-- Выводим контакты персоны -->
    <% if @FIELDS.contacts : %>
        <tr>
            <td><%= @locale.contacts %></td>
            <td>
                <ul class="configuration__entity">
                    <% for value in @FIELDS.contacts : %>
                        <% include "configuration/entities/_contacts", value: value %>
                    <% end %>
                </ul>
            </td>
        </tr>
    <% end %>

    <!-- Выводим  родительскую группу -->
    <tr>
        <td><%= @locale.parent_group_id %></td>
        <td>
            <% for group in @FIELDS.groups : %>
                <%= @locale[group.DISPLAY_NAME] or group.DISPLAY_NAME %></br>
            <% end %>
        </td>
    </tr>

    <!-- Выводим статусы -->
    <% if @FIELDS.status : %>
      <tr>
          <td><%= @locale.statuses %></td>
          <td>
              <div>
              <% for status in @FIELDS.status : %>
                  <span style="color:<%= if status.COLOR then 'white' else 'black' %>;background-color:<%= status.COLOR %>;display: inline-block;vertical-align: middle;padding: 5px 5px 4px;font-size: 11px;margin-bottom: 3px;"><%= App.t('lists.statuses', { returnObjectTrees: true })[status.DISPLAY_NAME] ? status.DISPLAY_NAME %></span>
              <% end %>
              </div>
          </td>
      </tr>
    <% end %>

    <!-- Выводим рабочие станции -->
    <% if @FIELDS.workstations : %>
      <tr>
          <td><%- @locale.workstations %></td>
          <td>
              <ul class="configuration__entity">
              <% for device in @FIELDS.workstations : %>
                  <li>
                      <% if device.DISPLAY_NAME : %>
                          <%- "#{@locale["workstation_type_#{device.TYPE}"]}: " %>
                          <%= device.DISPLAY_NAME %>
                      <% end %>
                  </li>
              <% end %>
              </ul>
          </td>
      </tr>
    <% end %>

<% else if @FIELDS.diff_keys : %>

    <% if @FIELDS.diff_keys[@ENTITY] and 'HAS_TM_THUMBNAILPHOTO' in @FIELDS.diff_keys[@ENTITY] : %>
        <tr>
            <td>
                <%- @locale.thumbnailphoto %>
            </td>
            <td></td>
            <% include "configuration/entities/_person_thumb", _.merge @, id: @FIELDS.new[@ENTITY].PERSON_ID %>
        </tr>
    <% end %>

    <% if @FIELDS.diff_keys[@ENTITY] : %>

        <% for key in @FIELDS.diff_keys[@ENTITY] when key not in ['TM_MANAGER_ID', 'HAS_TM_THUMBNAILPHOTO', 'SOURCE', 'ENTITY', 'TM_PHOTO'] : %>
            <tr>
                <td><%=  @locale[key.toLowerCase()] or key %></td>
                <% for k in ['old', 'new'] : %>
                    <td>
                        <% include "configuration/entities/_show_attribute", _.merge @, attributes: @FIELDS[k][@ENTITY], key: key %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    <% end %>

    <!-- Выводим контакты персоны -->
    <% if @FIELDS.diff_keys.contacts : %>
        <tr>
            <td><%= @locale.contacts %></td>
            <% for key in ['old', 'new'] : %>
                <td>
                    <% if @FIELDS[key].contacts : %>
                        <ul class="configuration__entity">
                            <% for value in @FIELDS[key].contacts : %>
                                <% include "configuration/entities/_contacts", value: value %>
                            <% end %>
                        </ul>
                    <% end %>
                </td>
            <% end %>
        </tr>
    <% end %>

    <!-- Выводим  родительские группы -->
    <% if @FIELDS.diff_keys.groups : %>
        <tr>
            <td><%= @locale.parent_group_id %></td>
            <% for k in ['old', 'new'] : %>
                <td>
                    <% for group in @FIELDS[k].groups : %>
                        <%= @locale[group.DISPLAY_NAME] or group.DISPLAY_NAME %></br>
                    <% end %>
                </td>
            <% end %>
    <% end %>

    <!-- Выводим статусы -->
    <% if @FIELDS.diff_keys.status : %>
        <tr>
            <td><%= @locale.statuses %></td>
            <% for k in ['old', 'new'] : %>
                <td>
                    <div>
                        <% if @FIELDS[k].status : %>
                            <% for status in @FIELDS[k].status : %>
                                <span style="color:<%= if status.COLOR then 'white' else 'black' %>;background-color:<%= status.COLOR %>;display: inline-block;vertical-align: middle;padding: 5px 5px 4px;font-size: 11px;margin-bottom: 3px;"><%= App.t('lists.statuses', { returnObjectTrees: true })[status.DISPLAY_NAME] ? status.DISPLAY_NAME %></span>
                            <% end %>
                        <% end %>
                    </div>
                </td>
            <% end %>
        </tr>
    <% end %>

    <!-- Выводим рабочие станции -->
    <% if @FIELDS.diff_keys.workstations : %>
        <tr>
            <td><%- @locale.workstations %></td>
            <% for k in ['old', 'new'] : %>
                <td>
                <% if @FIELDS[k].workstations : %>
                    <ul class="configuration__entity">
                    <% for device in @FIELDS[k].workstations : %>
                        <li>
                            <% if device.DISPLAY_NAME : %>
                                <%- "#{@locale["workstation_type_#{device.TYPE}"]}: " %>
                                <%= device.DISPLAY_NAME %>
                            <% end %>
                        </li>
                    <% end %>
                    </ul>
                <% end %>
                </td>
            <% end %>
        </tr>
    <% end %>

<% end %>
