<% if @OPERATION is 'add' or @OPERATION is 'delete' : %>

	<% for key, value of @FIELDS[@ENTITY] when key not in ['items', 'LIST_ID', 'OWNER', 'CHANGE_STATUS', 'CODE', 'LIST_TYPE', 'CREATE_DATE', 'CHANGE_DATE', 'IS_SYSTEM', 'ENTITY'] : %>
        <tr>
            <td><%= @locale[key.toLowerCase()] or key %></td>
            <td>
                <% include "configuration/entities/_show_attribute", _.merge @, attributes: @FIELDS[@ENTITY], key: key %>
            </td>
        </tr>
    <% end %>

    <% if @FIELDS.items : %>
    	<tr>
            <td>Элементы списка</td>
            <td>
                <table class="default-table">
                    <tr>
                        <th><%= @locale.name %></th>
                        <th><%= @locale.note %></th>
                    </tr>
                    <% for own key, value of @FIELDS.items : %>
                        <tr>
                            <td><%= value.VALUE %></td>
                            <td><%= value.NOTE %></td>
                        </tr>
                    <% end %>
                </table>
            </td>
        </tr>
    <% end %>

<% else : %>

	<% if @FIELDS.diff_keys[@ENTITY] : %>
        <% for key in @FIELDS.diff_keys[@ENTITY] when key not in ['OWNER', 'CHANGE_STATUS', 'CHANGE_DATE', 'ENTITY', 'items'] : %>
            <tr>
                <td><%=  @locale[key.toLowerCase()] or key %></td>
                <% for k in ['old', 'new'] : %>
                    <td><% include "configuration/entities/_show_attribute", _.merge @, attributes: @FIELDS[k][@ENTITY], key: key %></td>
                <% end %>
            </tr>
        <% end %>
    <% end %>

    <% if 'items' in @FIELDS.diff_keys[@ENTITY] : %>
    	<tr>
        	<td>Элементы списка</td>
        	<% for column in ['old', 'new'] : %>
                <td>
                    <% if @FIELDS[column][@ENTITY].items : %>
                        <table class="default-table">
                            <tr>
                                <th><%= @locale.name %></th>
                                <th><%= @locale.note %></th>
                            </tr>
                            <% for own key, value of @FIELDS[column][@ENTITY].items : %>
                                <tr>
                                    <td><%= value.VALUE %></td>
                                    <td><%= value.NOTE %></td>
                                </tr>
                            <% end %>
                        </table>
                    <% end %>
                </td>
            <% end %>
        </tr>
    <% end %>

<% end %>
