<div class="eventItem__threat" data-threat="<%= @VIOLATION_LEVEL?.toLowerCase() %>"></div>
<div class="eventItem__title">

    <!-- Тип события -->
    <div class="eventItem__type">
        <% include "events/event_type", @ %>
    </div>
    <!-- Тип события -->

    <div class="eventItem__sendStatus">
        <i
            class="[ icon _sendStatus<%= @FORWARD_STATE_CODE %> ]"
            title='<%= App.t "events.conditions.forward_state_code" %>: <%= App.t "events.conditions.sent_statuses.#{@FORWARD_STATE_CODE}" %>'
        ></i>
    </div>

    <!-- Вердикт -->
    <div class="eventItem__verdict" data-verdict="<%- @VERDICT.toLowerCase() %>">
        <%- App.t "events.conditions.verdict_#{@VERDICT.toLowerCase()}" %>
    </div>
    <!-- Вердикт -->

    <div class="eventItem__units" data-collapse-container>
        <% if @senders_keys?.length or @senders?.length or @senders_conflicts?.length : %>
            <% include "events/partials/_participant", _.assign(@, {participants_keys: @senders_keys, participants: @senders, participants_conflicts: @senders_conflicts}, participant_type: 'sender') %>
        <% else if @workstations?.length or @workstations_keys.length or @workstations_conflicts.length : %>
            <% include "events/workstation", @ %>
        <% end %>
        <i class="eventItem__arrow">→</i>
        <% include "events/recipients", @ %>
    </div>
</div>

<div class="eventItem__desc">
    <div class="eventItem__subject"><% include "events/partials/_preview_data", @ %></div>
    <ul class="eventItem__policies">
        <% for policy in @policies : %>
            <% if policy.IS_DELETED is 0 : %>
                <li><a class="eventItem__policy" data-bypass href="policy/<%= policy.POLICY_ID %>" title="<%= policy.DISPLAY_NAME %>"><%= _.trunc policy.DISPLAY_NAME %></a></li>
            <% else : %>
                <li><span class="eventItem__policy _deleted" data-id="<%= policy.POLICY_ID %>" title="<%= policy.DISPLAY_NAME %>"><%= _.trunc policy.DISPLAY_NAME %></span></li>
            <% end %>
        <% end %>
    </ul>
</div>

<div class="eventItem__footer">
    <div class="eventItem__id">ID: <%= @OBJECT_ID %></div>
    <div class="eventItem__userDecision">
        <%= App.t('events.events', { returnObjectTrees: true })[@USER_DECISION] %>
    </div>

    <% if @OBJECT_ERROR_EXISTS : %>
        <span class="eventItem__error [ icon _error ]" title="<%- App.t 'events.events.event_has_error' %>"></span>
    <% end %>

    <a class="eventItem__time"><i class="fontello-icon-clock"></i><%= "#{moment.utc("#{@CAPTURE_DATE}").local().format("dddd, D MMMM YYYY HH:mm:ss")}" %></a>

    <% if @ATTACHMENT_COUNT : %>
        <a class="eventItem__nesting"><i class="fontello-icon-doc-2"></i><%- App.t('events.conditions.attachment_count') + ': ' + @ATTACHMENT_COUNT %></a>
    <% end %>

    <% if @tags.length : %>
        <div class="eventItem__tags">
            <% include "events/tags", @ %>
        </div>
    <% end %>
</div>
