<div class="unit__name <%= @extraClasses %>" title="<%- if not @without_title then @identity %>">
    <% switch @KEY_TYPE : %>
        <% when 'ip' : %>
            <i class="[ icon _sizeSmall _computer ]"></i>
        <% end %>
        <% when 'email' : %>
            <i class="[ icon _sizeSmall _email ]"></i>
        <% end %>
        <% when 'lotus' : %>
            <i class="[ icon _sizeSmall _lotus ]"></i>
        <% end %>
        <% when 'sid' : %>
            <i class="[ icon _sizeSmall _sid ]"></i>
        <% end %>
        <% when 'auth' : %>
            <i class="[ icon _sizeSmall _auth ]"></i>
        <% end %>
        <% when 'phone' : %>
            <i class="[ icon _sizeSmall _phone ]"></i>
        <% end %>
        <% when 'skype' : %>
            <i class="[ icon _sizeSmall _skype ]"></i>
        <% end %>
        <% when 'icq' : %>
            <i class="[ icon _sizeSmall _icq ]"></i>
        <% end %>
        <% when 'webaccount' : %>
            <i class="[ icon _sizeSmall _domain ]"></i>
        <% end %>
    <% end %>
    <%- App.Helpers.trim(@identity, 40) %>
</div>
