<% for workstation in @workstations : %>
    <!-- Если есть ключ workstations значит это конфликт -->
    <% if workstation.workstations? : %>
        <% for conflicted_workstation, i in workstation.workstations : %>
            <%- if i isnt 0 then "<span class='unit__text'>#{App.t 'global.or'}</span>" %>
            <div class="unit" data-collapse-item>
                <div class="unit__name">
                    <a
                        href="javascript: void(0)"
                        class="unit__link conflict popover_info"
                        data-id="<%= conflicted_workstation.PARTICIPANT_ID %>"
                        data-type="<%= conflicted_workstation.PARTICIPANT_TYPE %>"
                        data-object="<%= @OBJECT_ID %>"
                        title="<%= conflicted_workstation.DISPLAY_NAME %>"
                        >
                        <i
                            class='[ icon _sizeSmall <%= "_#{@workstation_type}" %> ]'
                        ></i> <%= conflicted_workstation.DISPLAY_NAME %>
                    </a>
                </div>
            </div>
        <% end %>

    <% else : %>

        <% if workstation.PARTICIPANT_ID : %>
            <div class="unit" data-collapse-item>
                <div class="unit__name">
                    <a
                        href="javascript: void(0)"
                        class="unit__link popover_info"
                        data-id="<%= workstation.PARTICIPANT_ID %>"
                        data-type="<%= workstation.PARTICIPANT_TYPE %>"
                        data-object="<%= @OBJECT_ID %>"
                        title="<%= workstation.DISPLAY_NAME %>"
                        >
                        <i
                            class='[ icon _sizeSmall <%= "_#{@workstation_type}" %> ]'
                        ></i> <%= workstation.DISPLAY_NAME %>
                    </a>
                </div>
            </div>
        <% else : %>
            <% switch workstation.KEY_TYPE : %>
                <% when 'ip', 'dnshostname', 'auth' : %>
                    <div class="unit" data-collapse-item>
                        <div class="unit__name" title="<%= workstation.KEY %>">
                            <i class='[ icon _sizeSmall <%= "_#{@workstation_type}" %> ]'></i> <%= workstation.KEY %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
