<!--
   define model attributes date range keys here -
   to pick up values in form bihavior
!-->
<input name="<%- @startName %>" type="hidden">
<input name="<%- @endName %>" type="hidden">

<i class="form__icon [ icon _calendar ]"></i>
<input
    type="text"
    data-form-daterange
    <%- if @disabled then 'disabled' else '' %>
    data-start-name="<%- @startName %>"
    data-end-name="<%- @endName %>"
    placeholder="<%- App.t 'form.placeholder.daterange' %>"
    readonly>
<!-- Hide reset range button !-->
<% unless @noReset : %>
    <a href="#" class="daterangepicker__clean" data-form-daterange-reset></a>
<% end %>
