<div class="widgetSelectionItem__general">
    <div class="widgetSelectionItem__threat">
        <i title='<%= App.t "events.conditions.violation_level" %>:<%= App.t "events.conditions.violation_level_#{@VIOLATION_LEVEL?.toLowerCase()}" %>' class="[ widgetSelectionItem__threatIcon _<%= @VIOLATION_LEVEL?.toLowerCase() %> ]"></i>
    </div>
    <div class="widgetSelectionItem__type">
        <% include "events/event_type", @ %>
    </div>
    <div class="widgetSelectionItem__userDecision" title='<%= App.t "events.conditions.user_decision" %>:<%= App.t "events.events.#{@USER_DECISION}" %>'>
        <i class="[ icon <%= "_userDecision#{@USER_DECISION}" %> ]"></i>
    </div>
    <div class="widgetSelectionItem__verdict"><i class="[ icon <%= "_verdict#{@VERDICT}" %> ]" title='<%= App.t "events.conditions.verdict_#{@VERDICT.toLowerCase()}" %>'></i></div>
    <div class="widgetSelectionItem__sendStatus">
        <% if @FORWARD_STATE_CODE is 'Sent' : %>
            <i class="[ icon _sendStatusOk ]" title="<%= App.t 'events.conditions.sent_success' %>"></i>
        <% else : %>
            <i class="[ icon _sendStatusWarning ]" title="<%= App.t 'events.conditions.sent_failed' %>"></i>
        <% end %>
    </div>

    <span class="widgetSelectionItem__id">ID: <a href="/events?OBJECT_ID=<%= @OBJECT_ID %>"><%= @OBJECT_ID %></a></span>
    <span class="widgetSelectionItem__date"><%= "#{moment.utc("#{@CAPTURE_DATE}").local().format("dddd, D MMMM YYYY HH:mm:ss")}" %></span>
</div>

<div class="widgetSelectionItem__units">
    <div class="widgetSelectionItem__senders">
        <% if @senders_keys?.length or @senders?.length or @senders_conflicts?.length : %>
            <% include "events/partials/_participant", _.assign(@, {participants_keys: @senders_keys, participants: @senders, participants_conflicts: @senders_conflicts}) %>
        <% else if @workstations?.length or @workstations_keys.length or @workstations_conflicts.length : %>
            <% include "events/workstation", @ %>
        <% end %>
        <i class="widgetSelectionItem__arrow">↓</i>
    </div>
    <div class="widgetSelectionItem__recipients">
        <% include "events/recipients", @ %>
    </div>
</div>
