<table class="[ default-table _alignCenter ]">
    <thead>
    <tr>
        <th><%- App.t 'dashboards.widgets.rules' %></th>
        <th data-threat-lvl="high"><%= App.t 'dashboards.widgets.threats.High' %></th>
        <th data-threat-lvl="medium"><%= App.t 'dashboards.widgets.threats.Medium' %></th>
        <th data-threat-lvl="low"><%= App.t 'dashboards.widgets.threats.Low' %></th>
        <th><%- App.t 'dashboards.widgets.total' %></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
