<div class="widgetThreatCount__item">
    <div class="widgetThreatCount__type">
        <%- App.t "dashboards.widgets.#{@type.toLowerCase()}_rule_group_type" %>
        <a class="widgetThreatCount__total" href="javascript:void(0);" data-type="<%= @type %>"><%= @High + @Medium + @Low %></a>
    </div>
    <div class="widgetThreatCount__value">
        <% for threat in ['High', 'Medium', 'Low'] :%>
            <div class="widgetThreatCount__value-bar">
                <div
                    class="widgetThreatCount__value-bar-count"
                    data-threat="<%= threat.toLowerCase() %>"
                    title='<%= App.t "dashboards.widgets.threats.#{threat}" %>'
                    style="width: <%= ((@[threat]/_.max [@High, @Medium, @Low]) * 100) or 0 %>%"
                    ><a href="javascript:void(0);" data-type="<%= @type %>" class="stat"><%= @[threat] or 0 %></a>
                </div>
            </div>
        <% end %>
    </div>
</div>
