<form class="widgetContent__settings form include-footer">
    <fieldset class="form__fieldset">

        <div class="form__row">
            <label class="form__label"><%- App.t 'dashboards.widgets.commonWidgetSettings.name' %></label>
            <div class="form__elem">
                <input name="DISPLAY_NAME" value="" type="text">
            </div>
        </div>

        <% include "dashboards/widgets/shared/widget_update", @ %>

        <% include "dashboards/widgets/shared/widget_period", @ %>

        <div class="form__row">
            <label class="form__label" for="BASEOPTIONS[choosenVisualType]"><%- App.t 'dashboards.widgets.commonWidgetSettings.typeView' %></label>
            <div class="form__elem">
                <select name="BASEOPTIONS[choosenVisualType]">
                    <% for own key, value of @stattype.get('STATTYPEOPTIONS')?.visualTypes : %>
                        <option value="<%= value %>"><%= App.t('dashboards.widgets.visualTypes', { returnObjectTrees: true })[value] %></option>
                    <% end %>
                </select>
            </div>
        </div>

        <div class="form__row submit">
            <label class="form__label"></label>
            <div class="form__elem">
                <button class="[ button _success ] tm-complete-setup-widget"><%- App.t 'global.save' %></button>
                <button class="button tm-cancel-setup-widget" data-action="cancel"><%- App.t 'global.cancel' %></button>
            </div>
        </div>

    </fieldset>
</form>
