<div class="policyObject__group">
  2 <%- App.t( "select_dialog.#{@types[0]}", count: 2 ).toLowerCase() %>:
  <span
      class="policyObject__item <%- if @entry.isDeleted @objects[0] then "deleted" else "" %>"
      data-entry-id="<%- @objects[0].ID %>"
      data-entry-type="<%- @objects[0].TYPE %>"
      ><%- @entry.getName @objects[0] %>
  </span>,
  <span
      class="policyObject__item <%- if @entry.isDeleted @objects[1] then "deleted" else "" %>"
      data-entry-id="<%- @objects[1].ID %>"
      data-entry-type="<%- @objects[1].TYPE %>"
      ><%- @entry.getName @objects[1] %>
  </span>
</div>
