<input type="checkbox" class="popup__toggle">
<div class="popup"><div class="popup__position">
  <div class="popup__wrap" data-error-container>
    <div class="popup__indent">
        <h2 class="popup__title"><%- App.t 'dashboards.widgets.statType' %></h2>
            <div class="[ popup__content size-medium ] widget_create_popup"></div>
            <div class="popup__footer">
                <button class="button" type="reset" data-action="cancel"><%- App.t 'global.close' %></button>
            </div>
        <label for="popup" class="popup__close"></label>
    </div>
  </div>
</div></div>
