<input type="checkbox" class="popup__toggle">
<div class="popup"><div class="popup__position">
    <div class="popup__wrap" data-error-container>
        <div class="popup__indent">
            <h2 class="popup__title"><%= App.t "dashboards.widgets.layoutType" %></h2>

            <form>
                <ul class="popup__content dashboardView">
                    <li class="dashboardView__item">
                        <input id="choose_layout_1" type="radio" name="LAYOUT" value="1">
                        <label for="choose_layout_1" class="popup__choose_layout">
                            <img src="img/widgets/layout_1-1-1.gif" alt="">
                        </label>
                    </li>
                    <li class="dashboardView__item">
                        <input id="choose_layout_2" type="radio" name="LAYOUT" value="2">
                        <label for="choose_layout_2" class="popup__choose_layout">
                            <img src="img/widgets/layout_2-1.gif" alt="">
                        </label>
                    </li>
                    <li class="dashboardView__item">
                        <input id="choose_layout_3" type="radio" name="LAYOUT" value="3">
                        <label for="choose_layout_3" class="popup__choose_layout">
                            <img src="img/widgets/layout_1-1.gif" alt="">
                        </label>
                    </li>
                    <li class="dashboardView__item">
                        <input id="choose_layout_4" type="radio" name="LAYOUT" value="4">
                        <label for="choose_layout_4" class="popup__choose_layout">
                            <img src="img/widgets/layout_1-2.gif" alt="">
                        </label>
                    </li>
                </ul>
            </form>

            <div class="popup__footer">
                <button class="[ button _success ]" data-action="save"><%= App.t "global.save" %></button>
                <button class="button" data-action="cancel"><%= App.t "global.close" %></button>
            </div>

            <label for="popup" class="popup__close"></label>
        </div>
    </div>
</div></div>
