<% if length = @buttons?.length : %>
<div class="toolbar" data-ui="toolbar" data-type="<%- @type %>">
    <div class="buttonSet">
        <% if length is 1 : %>
            <button
                class="button"
                type="button"
                data-toolbar-action="<%- @buttons[0] %>">
            </button>
        <% else : %>
            <% for item in @style.toolbar.visibleButton : %>
            <% if @buttons.indexOf(item) isnt -1 : %>
            <button
                class="[ button _icon ] [ icon _<%- item %> ]"
                type="button"
                data-toolbar-action="<%- item %>">
            </button>
            <% end %><% end %>
            <% if (arr = _.without(@buttons, @style.toolbar.visibleButton...)).length : %>
            <div class="buttonDropdown dropdown">
                <button
                    class="[ button _caret ] dropdown-toggle"
                    data-toggle="dropdown"
                    type="button"
                    id="toolbarDropdownButton"></button>
                <ul class="dropdown-menu" aria-labelledby="toolbarDropdownButton">
                    <% for item in arr : %>
                    <li><button
                        class=""
                        type="button"
                        data-toolbar-action="<%- item %>">
                    </button></li>
                    <% end %>
                </ul>
            </div><% end %>
        <% end %>
    </div>
</div>
<% end %>
