<div class="form__row">
    <% if @mode is 'lite' : %>
        <label for="analysis" class="[ form__label size-normal ]"><%= App.t 'events.conditions.analysis' %></label>
    <% end %>
    <div class="[ form__elem size-50 ]">
        <select name="analysis[mode]">
            <option value="0">=</option>
            <option value="1">≠</option>
        </select>
    </div>
    <div class="form__elem">
        <textarea
            placeholder="<%- App.t 'form.placeholder.search' %>"
            name="analysis[value][]"
            data-form-type="select2"
            data-form-server="category,fingerprint,form,text_object,stamp,table,graphic"
            ></textarea>
        <button
            type="button"
            class="[ button _icon ] [ icon _create ]"
            data-form-title="<%- App.t 'events.conditions.select_analysis' %>"
            data-form-entry="category,fingerprint,form,text_object,stamp,table,graphic"
            data-form-entry-source="query"
            ></button>
    </div>
</div>
