<div class="form__row" data-group="<%= @group %>">
    <% if @mode is 'lite' : %>
        <label for="destination_type[]" class="[ form__label size-normal ]"><%= App.t 'events.conditions.destination_type' %></label>
    <% end %>
    <div class="form__elem">
        <select class="multiselect" multiple="multiple" name="destination_type[]" data-form-type="multiselect">
            <option value="NetworkSharesSearch"><%= App.t 'events.conditions.destination_type_list.NetworkSharesSearch' %></option>
            <option value="LocalDisksOverAdminSharesSearch"><%= App.t 'events.conditions.destination_type_list.LocalDisksOverAdminSharesSearch' %></option>
            <option value="SP2007Search"><%= App.t 'events.conditions.destination_type_list.SP2007Search' %></option>
        </select>
    </div>
</div>
