<div class="[ form__row _indentShort ]">
    <% if @mode is 'lite' : %>
        <label for="file_format" class="[ form__label size-normal ]"><%= App.t 'events.conditions.file_format' %></label>
    <% end %>
    <div class="[ form__elem size-50 ]">
        <select name="file_format[mode]">
            <option value="0">=</option>
            <option value="1">≠</option>
        </select>
    </div>
    <div class="form__elem">
        <textarea
            placeholder="<%- App.t 'events.conditions.file_format_placeholder' %>"
            data-attribute='file_format'
            name="file_format[formats]"
            ></textarea>
        <button
            type="button"
            class="[ button _icon ] [ icon _create ]"
            data-form-title="<%- App.t 'events.conditions.select_file_formats' %>"
            data-form-attr-dialog="file"
            ></button>
    </div>
</div>

<div class="form__row">
    <% if @mode is 'lite' : %>
    <label class="[ form__label size-normal ]"></label>
    <% end %>
    <div class="form__elem">
        <label class="form__checkbox">
            <input type='checkbox' data-attribute="encrypted" name='file_format[encrypted]'><span></span><%= App.t 'events.conditions.file_encrypted' %>
        </label>
    </div>
</div>
