<div class="form__row">
    <% if @mode is 'lite' : %>
    <label class="[ form__label size-normal ]"><%= App.t 'events.conditions.protocol' %></label>
    <% end %>
    <div class="form__elem">
        <select class="multiselect" multiple="multiple" name="protocol[]" data-form-type="multiselect">
            <% for protocol in App.request('bookworm', 'protocol').toJSON() : %>
                <option value="<%= protocol.protocol_id %>" label="<%= protocol.name %>"></option>
            <% end %>
        </select>
    </div>
</div>
