<div class="form__row">
    <% if @mode is 'lite' : %>
        <label for="senders" class="[ form__label size-normal ]"><%= App.t 'events.conditions.senders' %></label>
    <% end %>
    <div class="[ form__elem size-50 ]">
        <select name="senders[mode]">
            <option value="0">=</option>
            <option value="1">≠</option>
        </select>
    </div>
    <div class="form__elem">
        <textarea
            placeholder="<%- App.t 'form.placeholder.search' %>"
            name="senders[value][]"
            data-form-type="select2"
            data-form-server="person,group,status"
            data-form-local="<%- App.request('bookworm', 'contact').pluck('mnemo') %>"
            data-form-minimum-input-length="3"
            ></textarea>
        <button
            type="button"
            class="[ button _icon ] [ icon _create ]"
            data-form-title="<%- App.t 'events.conditions.senders' %>"
            data-form-entry="group,person,status"
            ></button>
    </div>
</div>
