<div class="form__row">
    <% if @mode is 'lite' : %>
        <label class="[ form__label size-normal ]"><%= App.t 'events.conditions.user_decision' %></label>
    <% end %>
    <div class="form__elem">
        <select class="multiselect" multiple="multiple" name="user_decision[]" data-form-type="multiselect">
            <option value="Violation"><%= App.t 'events.conditions.user_decision_violation' %></option>
            <option value="NoViolation"><%= App.t 'events.conditions.user_decision_no_violation' %></option>
            <option value="NotProcessed"><%= App.t 'events.conditions.user_decision_notprocessed' %></option>
            <option value="AdditionalProcessingNeeded"><%= App.t 'events.conditions.user_decision_req_additional_processing' %></option>
        </select>
    </div>
</div>
