<div class="form__row">
    <% if @mode is 'lite' : %>
        <label class="[ form__label size-normal ]"><%= App.t 'events.conditions.violation_level' %></label>
    <% end %>
    <div class="form__elem">
        <select class="multiselect" multiple="multiple" name="violation_level[]" data-form-type="multiselect">
            <option value="High"><%= App.t 'events.conditions.violation_level_high' %></option>
            <option value="Medium"><%= App.t 'events.conditions.violation_level_medium' %></option>
            <option value="Low"><%= App.t 'events.conditions.violation_level_low' %></option>
            <option value="No"><%= App.t 'events.conditions.violation_level_no' %></option>
        </select>
    </div>
</div>
