<input type="checkbox" class="popup__toggle" checked="checked">
<div class="popup popup-about"><div class="popup__position">
    <div class="popup__wrap">
        <div class="popup__indent">
            <h2 class="popup__title"><%= App.t 'global.about' %></h2>
            <div class="popup__content">
                <div class="popup-about__logo <%= App.Setting.get 'product' %>"></div>
                <div class="popup-about__ver"><%= App.t 'global.version', version: @version %></div>
                <div class="popup-about__ver"><%= App.t 'global.product_type', type: @type %></div>
                <div class="popup-about__contacts">
                    <p>
                        <label><%= App.t 'global.phone' %></label>
                        <span>+7 (495) 22-900-22</span>
                    </p>
                    <p>
                        <label><%= App.t 'global.general_inquiries' %></label>
                        <span><%= App.t 'global.infowatch_info' %></span>
                    </p>
                    <p>
                        <label><%= App.t 'global.technical_support' %></label>
                        <span><%= App.t 'global.infowatch_support' %></span>
                    </p>
                    <p>
                        <label><%= App.t 'global.website' %></label>
                        <span><a href="http://<%= App.t 'global.infowatch_site' %>" target="_blank"><%= App.t 'global.infowatch_site' %></a></span>
                    </p>
                </div>
            </div>
            <div class="popup__footer popup-about__copyright">
                <p>&copy; 2003-<%- moment().year() %> InfoWatch</p>
                <p><%= App.t 'global.copyright' %></p>
            </div>
            <label for="popup" class="popup__close"></label>
        </div>
    </div>
</div>
