<div class="header__logo <%= App.Setting.get 'product' %>">
    <img src="img/logo_black.png" width="317" height="35">
</div>

<div class="header__navbar dropdown">
    <a class="header__toggle dropdown-toggle" data-toggle="dropdown">
        <%= App.Session.currentUser().getName() %> <i class="fontello-icon-down-open-mini"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="javascript: void(0)" data-action="help"><%= App.t 'global.help' %></a></li>
        <li><a href="javascript: void(0)" data-action="about"><%= App.t 'global.about' %></a></li>
        <% if App.Session.currentUser().get('PROVIDER') isnt 'LDAP' : %>
            <li><a href="javascript: void(0)" data-action="change_password"><%= App.t 'settings.users.change_password' %></a></li>
        <% end %>
        <li class="dropdown-menu__divider"></li>
        <li class="dropdown-menu__title"><%- App.t 'menu.change_language' %></li>
        <li><a href="javascript: void(0)" data-action="change_lang" data-lang="rus"><%- App.t 'global.locale.rus' %></a></li>
        <li><a href="javascript: void(0)" data-action="change_lang" data-lang="eng"><%- App.t 'global.locale.eng' %></a></li>
        <li class="dropdown-menu__divider"></li>
        <li><a href="javascript: void(0)" data-action="logout"><%= App.t 'global.exit' %></a></li>
    </ul>
</div>

<nav class="header__nav mainNav">
    <ul class="mainNav__list">
        <% if @can(url: 'dashboards') : %>
            <li class="[ mainNav__item mainNav__dashboard ]"><a class="mainNav__link" href="dashboards" data-bypass><%= App.t 'menu.dashboards' %></a></li>
        <% end %>

        <% if @can(url: 'events') : %>
            <li class="[ mainNav__item mainNav__events ]"><a class="mainNav__link" href="events" data-bypass><%= App.t 'menu.events' %></a></li>
        <% end %>

        <% if @can(url: 'reports') : %>
            <li class="[ mainNav__item mainNav__reports ]"><a class="mainNav__link" href="reports" data-bypass><%= App.t 'menu.reports' %></a></li>
        <% end %>

        <% if @can(url: 'analysis') : %>
            <li class="[ mainNav__item mainNav__classificator ] dropdown">
                <a class="mainNav__link dropdown-toggle" href="#" data-toggle="dropdown"><%= App.t 'menu.analysis' %> <i class="fontello-icon-down-open-mini"></i></a>
                <ul class="mainNav__dropdown dropdown-menu">
                    <% if @can(url: 'analysis/term') : %>
                        <li><a href="analysis/term" data-bypass><%= App.t 'menu.term' %></a></li>
                    <% end %>

                    <% if @can(url: 'analysis/text_object') : %>
                        <li><a href="analysis/text_object" data-bypass><%= App.t 'menu.text_object' %></a></li>
                    <% end %>

                    <% if @can(url: 'analysis/fingerprint') : %>
                        <li><a href="analysis/fingerprint" data-bypass><%= App.t 'menu.fingerprint' %></a></li>
                    <% end %>

                    <% if @can(url: 'analysis/form') : %>
                        <li><a href="analysis/form" data-bypass><%= App.t 'menu.form' %></a></li>
                    <% end %>

                    <% if @can(url: 'analysis/stamp') : %>
                        <li><a href="analysis/stamp" data-bypass><%= App.t 'menu.stamp' %></a></li>
                    <% end %>

                    <% if @can(url: 'analysis/table') : %>
                        <li><a href="analysis/table" data-bypass><%= App.t 'menu.table' %></a></li>
                    <% end %>

                    <% if @can(url: 'analysis/graphic') : %>
                        <li><a href="analysis/graphic" data-bypass><%= App.t 'menu.graphic' %></a></li>
                    <% end %>
                </ul>
            </li>
        <% end %>

        <% if @can(url: 'protected') : %>
            <li class="[ mainNav__item mainNav__protectionObjects ]"><a class="mainNav__link" href="protected" data-bypass><%= App.t 'menu.protected' %></a></li>
        <% end %>

        <% if @can(url: 'organization') : %>
            <li class="[ mainNav__item mainNav__employees ]"><a class="mainNav__link" href="organization" data-bypass><%= App.t 'menu.organization' %></a></li>
        <% end %>

        <% if @can(url: 'policy') : %>
            <li class="[ mainNav__item mainNav__policies ]"><a class="mainNav__link" href="policy" data-bypass><%= App.t 'menu.policy' %></a></li>
        <% end %>

        <% if @can(url: 'lists') : %>
            <li class="[ mainNav__item mainNav__lists ] dropdown">
                <a class="mainNav__link dropdown-toggle" href="#" data-toggle="dropdown"><%= App.t 'menu.lists' %> <i class="fontello-icon-down-open-mini"></i></a>
                <ul class="mainNav__dropdown dropdown-menu">

                    <% if @can(url: 'lists/tag') : %>
                        <li><a href="lists/tag" data-bypass><%= App.t 'menu.tag' %></a></li>
                    <% end %>

                    <% if @can(url: 'lists/statuses') : %>
                        <li><a href="lists/statuses" data-bypass><%= App.t 'menu.statuses' %></a></li>
                    <% end %>

                    <% if @can(url: 'lists/perimeters') : %>
                        <li><a href="lists/perimeters" data-bypass><%= App.t 'menu.perimeters' %></a></li>
                    <% end %>

                    <% if @can(url: 'lists/resources') : %>
                        <li><a href="lists/resources" data-bypass><%= App.t 'menu.resources' %></a></li>
                    <% end %>

                    <% if @can(url: 'lists/file') : %>
                        <li><a href="file" data-bypass><%= App.t 'menu.file' %></a></li>
                    <% end %>
                </ul>
            </li>
        <% end %>

        <% if @can(url: 'settings') : %>
            <li class="[ mainNav__item mainNav__control ] dropdown">
                <a class="mainNav__link dropdown-toggle" href="#" data-toggle="dropdown"><%= App.t 'menu.administration' %> <i class="fontello-icon-down-open-mini"></i></a>
                <ul class="mainNav__dropdown dropdown-menu">
                    <% if @can(url: 'lists') : %>
                        <li><a href="settings/ldap" data-bypass><%= App.t 'menu.ldap' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/license') : %>
                        <li><a href="settings/license" data-bypass><%= App.t 'menu.license' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/access') : %>
                        <li><a href="settings/access" data-bypass><%= App.t 'menu.access' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/system_check') : %>
                        <li><a href="settings/system_check" data-bypass><%= App.t 'menu.system_check' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/audit_events') : %>
                        <li><a href="settings/audit_events" data-bypass><%= App.t 'menu.audit' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/integrity_monitoring') : %>
                        <li><a href="settings/integrity_monitoring" data-bypass><%= App.t 'menu.integrity_monitoring' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/services') : %>
                        <li><a href="settings/services" data-bypass><%- App.t 'menu.services' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/network') : %>
                        <li><a href="settings/network" data-bypass><%- App.t 'menu.network' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/update') : %>
                        <li class="mainNav__control"><a href="settings/update" data-bypass><%= App.t 'menu.update' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/plugins') : %>
                        <li class="mainNav__control"><a href="settings/plugins" data-bypass><%- App.t 'menu.plugins' %></a></li>
                    <% end %>
                </ul>
            </li>
        <% end %>

        <% if @can(url: 'crawler') : %>
          <li class="[ mainNav__item mainNav__crawler ]"><a class="mainNav__link" href="crawler" data-bypass><%= App.t 'menu.crawler' %></a></li>
        <% end %>

        <% if @showMore() : %>
        <li class="[ mainNav__item mainNav__more ] dropdown">
            <a class="mainNav__link dropdown-toggle" href="#" data-toggle="dropdown"><%= App.t 'global.more' %> <i class="fontello-icon-down-open-mini"></i></a>
            <ul class="mainNav__dropdown dropdown-menu">

                <% if @can(url: 'protected') : %>
                    <li class="mainNav__protectionObjects"><a href="protected" data-bypass><%= App.t 'menu.protected' %></a></li>
                    <li class="dropdown-menu__divider mainNav__divider mainNav__protectionObjects"></li>
                <% end %>

                <% if @can(url: 'organization') : %>
                    <li class="mainNav__employees"><a href="organization" data-bypass><%= App.t 'menu.organization' %></a></li>
                    <li class="dropdown-menu__divider mainNav__divider mainNav__employees"></li>
                <% end %>

                <% if @can(url: 'policy') : %>
                    <li class="mainNav__policies"><a href="policy" data-bypass><%= App.t 'menu.policy' %></a></li>
                    <li class="dropdown-menu__divider mainNav__divider mainNav__policies"></li>
                <% end %>

                <% if @can(url: 'lists') : %>
                    <li class="dropdown-menu__title mainNav__lists"><%= App.t 'menu.lists' %></li>
                    <% if @can(url: 'lists/tag') : %>
                        <li class="mainNav__lists"><a href="lists/tag" data-bypass><%= App.t 'menu.tag' %></a></li>
                    <% end %>

                    <% if @can(url: 'lists/statuses') : %>
                        <li class="mainNav__lists"><a href="lists/statuses" data-bypass><%= App.t 'menu.statuses' %></a></li>
                    <% end %>

                    <% if @can(url: 'lists/perimeters') : %>
                        <li class="mainNav__lists"><a href="lists/perimeters" data-bypass><%= App.t 'menu.perimeters' %></a></li>
                    <% end %>

                    <% if @can(url: 'lists/resources') : %>
                        <li class="mainNav__lists"><a href="lists/resources" data-bypass><%= App.t 'menu.resources' %></a></li>
                    <% end %>

                    <% if @can(url: 'lists/file') : %>
                        <li class="mainNav__lists"><a href="file" data-bypass><%= App.t 'menu.file' %></a></li>
                    <% end %>

                    <li class="dropdown-menu__divider mainNav__divider mainNav__lists"></li>
                <% end %>

                <% if @can(url: 'settings') : %>
                    <li class="dropdown-menu__title mainNav__control"><%= App.t 'menu.administration' %></li>

                    <% if @can(url: 'settings/ldap') : %>
                        <li class="mainNav__control"><a href="settings/ldap" data-bypass><%= App.t 'menu.ldap' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/license') : %>
                        <li class="mainNav__control"><a href="settings/license" data-bypass><%= App.t 'menu.license' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/access') : %>
                        <li class="mainNav__control"><a href="settings/access" data-bypass><%= App.t 'menu.access' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/system_check') : %>
                        <li class="mainNav__control"><a href="settings/system_check" data-bypass><%= App.t 'menu.system_check' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/audit_events') : %>
                        <li class="mainNav__control"><a href="settings/audit_events" data-bypass><%= App.t 'menu.audit' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/integrity_monitoring') : %>
                        <li class="mainNav__control"><a href="settings/integrity_monitoring" data-bypass><%= App.t 'menu.integrity_monitoring' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/services') : %>
                        <li class="mainNav__control"><a href="settings/services" data-bypass><%- App.t 'menu.services' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/network') : %>
                        <li class="mainNav__control"><a href="settings/network" data-bypass><%- App.t 'menu.network' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/update') : %>
                        <li class="mainNav__control"><a href="settings/update" data-bypass><%= App.t 'menu.update' %></a></li>
                    <% end %>

                    <% if @can(url: 'settings/plugins') : %>
                        <li class="mainNav__control"><a href="settings/plugins" data-bypass><%- App.t 'menu.plugins' %></a></li>
                    <% end %>
                <% end %>

                <% if @can(url: 'crawler') : %>
                    <li class="dropdown-menu__divider mainNav__divider mainNav__control"></li>

                    <li class="mainNav__crawler"><a href="crawler" data-bypass><%= App.t 'menu.crawler' %></a></li>
                <% end %>
            </ul>
        </li>
        <% end %>
    </ul>
</nav>
