<section class="layout__header" id="header"></section>
<section class="layout__content">
	<section class="layoutContent">
        <section class="layoutContent__message"></section>
		<header class="layoutContent__header"></header>
        <section class="layoutContent__indent">
            <aside class="sidebar">
                <label class="sidebar__toggle"></label>
                <section class="sidebar__wrap" id="layout__sidebar"></section>
            </aside>
            <section class="layoutContent__wrap" id="layout__content"></section>
        </section>
    </section>
</section>

<!-- For modal dialogs -->
<div id="modal"></div>
<div id="modal2"></div>

<div class="inProgress" id="notify" style="display: none"></div>
