<div class="form__row"></div>

    <div class="_hidden" data-ui="progress">
        <!-- TODO: PASTE SPINNER in <spinner></spinner> -->
        <%- App.t "settings.diagnostic.in_progress" %> — <span class="[ icon spinner ]"></span> <span data-ui="percentage"></span></p>
    </div>

    <div class="_hidden" data-ui="complete">
        <%- App.t "settings.diagnostic.complete" %> — <a data-ui="file" href="<%- @file %>"><a>
    </div>

</div>

<div class="form__row"></div>
    <div class="diagnosticItem__result _hidden alert alert-warning" data-ui="status"></div>
</div>
