<div class="contentHeader">
    <h2 class="contentHeader__title"><%- App.t 'settings.roles_tab' %></h2>
</div>

<div class="toolbar">
    <div class="toolbar__pagination" id="roles_paginator"></div>
    <div class="toolbar__actions">
    	<div class="buttonSet">
            <button
                class="[ button _icon ] [ icon _create ]"
                data-action="create_role"
                title="<%- App.t 'settings.roles.create' %>"
                disabled>
            </button>
            <button
                class="[ button _icon ] [ icon _edit ]"
                data-action="edit_role"
                title="<%- App.t 'settings.roles.edit' %>"
                disabled>
            </button>
            <button
                class="[ button _icon ] [ icon _delete ]"
                data-action="delete_role"
                title="<%- App.t 'settings.roles.delete' %>"
                disabled>
            </button>
       	</div>
    </div>
</div>

<div class="content__indent">
    <div id="roles_table"></div>
</div>
