<div class="contentHeader">
    <h2 class="contentHeader__title"><%- @server_name %></h2>
</div>

<form class="form _viewOnly">
    <% if App.Helpers.can({type: 'crash_notice', action: 'show'}) : %>

    <h2 class="form__title">
    	<% if @settings.get 'enable_notifications' : %>
    		<%= App.t 'settings.crash_notice.crash_notice_enabled' %>
    	<% else : %>
    		<%= App.t 'settings.crash_notice.crash_notice_disabled' %>
    	<% end %>
    </h2>

    <div class="form__row">
        <button
        	class="[ button ]"
        	data-action="edit_settings"
        	<% if not App.Helpers.can({type: 'crash_notice', action: 'edit'}) : %>
            	disabled
            <% end %>
        ><%= App.t 'settings.healthcheck.setup_settings' %></button>
    </div>

    <div id="crash_notice_settings"></div>

    <% end %>

    <h2 class="form__title"><%= App.t 'settings.healthcheck.server_info' %></h2>
    <div class="form__row">
        <button class="[ button ]" data-action="refresh"><%= App.t 'settings.healthcheck.refresh' %></button>
    </div>
</form>

<div class="content__indent" id="system_check_list"></div>
