<input type="checkbox" class="popup__toggle">
<div class="popup">
    <div class="popup__position">
        <div class="popup__wrap" data-error-container>
            <div class="popup__indent">
                <h2 class="popup__title"><%- @title %></h2>
                <form class="form">
                    <div class="popup__content">
                        <div class="form__row">
                            <label for="DISPLAY_NAME" class="form__label"><%- App.t 'lists.statuses.display_name' %></label>
                            <div class="form__elem"><input type="text" name="DISPLAY_NAME" data-error-style="tooltip" placeholder="<%- App.t 'lists.statuses.status_name_placeholder' %>" <%= 'disabled="disabled"' if @blocked %>></div>
                        </div>
                        <div class="form__row">
                            <label for="COLOR" class="form__label"><%- App.t 'lists.statuses.color' %></label>
                            <% if @blocked : %>
                                <span class="simplecolorpicker icon" style="background-color: <%= @COLOR %>;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <% else : %>
                                <select name="COLOR">
                                    <option value="#4e954e"></option>
                                    <option value="#5484ed"></option>
                                    <option value="#a4bdfc"></option>
                                    <option value="#af5050"></option>
                                    <option value="#7ae7bf"></option>
                                    <option value="#cc7a29"></option>
                                    <option value="#fbd75b"></option>
                                    <option value="#ffb878"></option>
                                    <option value="#ff0000"></option>
                                    <option value="#dc2127"></option>
                                    <option value="#dbadff"></option>
                                    <option value="#be9b33"></option>
                                    <option value="#3baa21"></option>
                                    <option value="#e02525"></option>
                                    <option value="#0e71bd"></option>
                                    <option value="#e9640b"></option>
                                    <option value="#898989"></option>
                                </select>
                            <% end %>
                        </div>
                        <div class="[ form__row vertical ]">
                            <label for="NOTE" class="form__label"><%= App.t 'lists.statuses.note' %></label>
                            <div class="form__elem">
                                <textarea name="NOTE" cols="30" rows="10" class="form__textarea" maxlength="255" <%= 'disabled="disabled"' if @blocked %>></textarea>
                            </div>
                        </div>

                        <% include 'controls/form/date', @ %>
                    </div>
                    <div class="popup__footer">
                        <button class="[ button _success ]" data-action="save" <%= 'disabled' if @blocked %>><%- App.t 'global.save' %></button>
                        <button class="button" data-action="cancel"><%- App.t 'global.cancel' %></button>
                    </div>
                </form>
                <label for="popup" class="popup__close"></label>
            </div>
        </div>
    </div>
</div>
