<% if @data : %>
    <div class="eventDialog">
        <h2 class="eventDialog__title"><%= App.t 'events.events.im_message_title' %></h2>

        <div class="eventDialog__ava" style="float:left;">
            <% if @identity.PARTICIPANT_ID : %>
                <img src="<%= App.Config.server %>/api/ldapPerson/image?person_id=<%= @identity.PARTICIPANT_ID %>" height="60" width="60">
            <% else : %>
                <img src="<%= App.Config.server %>/api/ldapPerson/image?person_id=null" height="60" width="60">
            <% end %>
        </div>
        <div class="eventDialog__content">
            <div class="[ eventDialog__message left ]">
                <div class="eventDialog__message-info">
                    <%= @data.properties.date.calendar() %>
                    <b>
                        <% if @identity.PARTICIPANT_ID : %>
                            <%= @identity.DISPLAY_NAME %> (<%= @identity.KEY %>)
                        <% else : %>
                            <%= @identity.KEY %>
                        <% end %>
                    </b>
                    <%= App.t 'events.events.im_user_write' %>:
                </div>
                <div class="eventDialog__text"><%= @data.message %></div>
            </div>
        </div>
    </div>
<% end %>
