<% if @data : %>

    <% if @data.properties?.subject? : %>
        <h3 class="eventDetail__messageTitle">
            <strong><%= App.t 'events.events.subject' %>:</strong>
            <%= @data.properties.subject.replace(/(\r\n|\n|\r)/gm,"") %>
        </h3>
    <% end %>

    <!-- Если есть вложение, то тогда нужны кнопки переключения -->
    <div class="eventInfo__attachment">
        <ul class="att nav nav-pills" data-region="eventParts">
            <li class="active">
                <div href="#" class="btn-group" data-toggle="tab" style="font-size:12px;font-weight: bold;padding-left: 10px;padding-right:0px;padding-top: 5px;padding-bottom: 5px;">
                    <a href="" class="show_message" style="padding-right:10px;"><%= App.t 'events.events.message' %></a>
                    <% if @data.content?.text and @data.content?.html : %>
                    <a class="dropdown-toggle" data-toggle="dropdown" style="padding: 3px 5px 3px 0px;">
                        <span class="caret" style="top:0px;margin:5px;margin-left:0px;"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-show="text" href="javascript:void(0)" data-action="show_as"><%= App.t 'events.events.smtp_show_as_text' %></a></li>
                        <li><a data-show="html" href="javascript:void(0)" data-action="show_as"><%= App.t 'events.events.smtp_show_as_html' %></a></li>
                    </ul>
                    <% end %>
                </div>
            </li>
            <% include "events/event_views/attachments", @ %>
        </ul>
    </div>

    <iframe class="text eventInfo__content" data-region="content"></iframe>
<% end %>
