<header class="eventDetails__header">
    <div class="eventDetails__general">
        <% include "events/partials/header_indicators", @ %>
    </div>
    <span class="eventDetails__id">ID:<%= @OBJECT_ID %></span>
    <% if @OBJECT_ERROR_EXISTS : %>
        <i class="eventDetails__error [ icon _error ]"></i>
    <% end %>
    <button class="[ button _grey ]" type="button" data-action-details>
        <%= App.t 'events.events.detail_information' %>
    </button>
    <% if @service?.get('mnemo') is 'email' : %>
        <a href="<%= App.Config.server %>/api/object/content?object_id=<%= @OBJECT_ID %>&content_id=<%= @content.OBJECT_CONTENT_ID %>&download=1" class="[ button _icon ] [ icon _download ]" type="button"></a>
    <% end %>
</header>

<input class="eventDetails__rollTrigger" id="eventDetails__rollTrigger" type="checkbox">
<div class="eventDetails__contentWrap">
  <div class="eventDetails__content">

    <% if @senders.length or @senders_keys.length or @senders_conflicts.length : %>
        <div class="[ form__row _indentShort ]">
            <span class="form__label"><%= App.t 'events.conditions.senders' %></span>
            <div class="eventDetail__items [ form__col _wrappable ]" data-collapse-container>
              <% include "events/partials/_participant", _.assign(@, {participants_keys: @senders_keys, participants: @senders, participants_conflicts: @senders_conflicts}, participant_type: 'sender') %>
            </div>
        </div>
    <% end %>

    <div class="[ form__row _indentShort ]">
        <span class="form__label"><%= App.t 'events.conditions.recipients' %></span>
        <div class="eventDetail__items [ form__col _wrappable ]" data-collapse-container>
            <% include "events/recipients", @ %>
        </div>
    </div>

    <% if @workstations?.length or @workstations_conflicts?.length or @workstations_keys?.length : %>
        <div class="[ form__row _indentShort ]">
            <span class="form__label"><%= App.t 'events.conditions.workstations' %></span>
            <div class="eventDetail__items [ form__col _wrappable ]" data-collapse-container>
                <% include "events/workstation", @ %>
            </div>
        </div>
    <% end %>

    <% include "events/partials/perimeters", @ %>

    <% if @service?.get('mnemo') is 'web' : %>
        <% if @DESTINATION_HOST : %>
            <div class="[ form__row _indentShort ]">
                <span class="form__label"><%= App.t 'events.conditions.destination_host' %></span>
                <div class="form__elem eventDetail__items">
                    <span class="unit">
                        <span class="unit__name" title="<%= @DESTINATION_HOST %>"><%= @DESTINATION_HOST %></span>
                    </span>
                </div>
            </div>
        <% end %>
    <% end %>

    <% if @DESTINATION_PATH : %>
        <div class="[ form__row _indentShort ]">
            <span class="form__label"><%= App.t 'events.conditions.destination_path' %></span>
            <div class="form__elem eventDetail__items">
                <span class="unit">
                    <span class="unit__name" title="<%= @DESTINATION_PATH %>"><%= @DESTINATION_PATH %></span>
                </span>
            </div>
        </div>
    <% end %>

    <!-- Resource list -->
    <% if @lists?.length : %>
        <div class="[ form__row _indentShort ]">
            <span class="form__label"><%= App.t 'events.conditions.lists' %></span>
            <div class="eventDetail__items [ form__col _wrappable ]" data-collapse-container>
                <% for list in @lists : %>
                    <% if list.IS_DELETED is 0 : %>
                        <div class="unit" data-collapse-item>
                            <a
                                class="unit__name"
                                href="/lists/resources/<%= list.LIST_ID %>"
                                data-id="<%= list.LIST_ID %>"
                                ><%= list.DISPLAY_NAME %>
                            </a>
                        </div>
                    <% else : %>
                        <div>
                            <span class="unit__name _deleted" data-id="<%= list.LIST_ID %>"><%= list.DISPLAY_NAME %></span>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
    <!-- Resource list -->

    <!-- Policies -->
    <% if @policies?.length : %>
        <div class="[ form__row _indentShort ]">
            <span class="form__label"><%= App.t 'events.conditions.policies' %></span>
            <div class="eventDetail__items [ form__col _wrappable ]" data-collapse-container>
                <% for policy in @policies : %>
                    <% if policy.IS_DELETED is 0 : %>
                        <div class="unit" data-collapse-item>
                            <a
                                class="unit__name"
                                href="/policy/<%= policy.POLICY_ID %>"
                                ><%= policy.DISPLAY_NAME %>
                            </a>
                        </div>
                    <% else : %>
                        <div class="unit" data-collapse-item>
                            <span
                                class="unit__name _deleted"
                                data-id="<%= policy.POLICY_ID %>"
                                ><%= policy.DISPLAY_NAME %>
                            </span>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
    <!-- Policies -->

    <!-- Обьекты защиты -->
    <% if @protected_documents?.length : %>
        <div class="[ form__row _indentShort ]">
            <span class="form__label"><%= App.t 'events.conditions.protected_documents' %></span>
            <div class="eventDetail__items [ form__col _wrappable ]" data-collapse-container>
                <% for document in @protected_documents : %>
                    <% if document.IS_DELETED is 0 : %>
                        <% if document.catalog.length : %>
                            <div class="unit" data-collapse-item>
                                <a
                                    class="unit__name"
                                    href="/protected/<%= document.catalog[0].CATALOG_ID %>/<%= document.PROT_DOCUMENT_ID %>" class="category"
                                    ><%= document.DISPLAY_NAME %>
                                </a>
                            </div>
                        <% else : %>
                            <div class="unit" data-collapse-item>
                                <a
                                    class="unit__name"
                                    href="/protected/<%= document.PROT_DOCUMENT_ID %>"
                                    ><%= document.DISPLAY_NAME %>
                                </a>
                            </div>
                        <% end %>
                    <% else : %>
                        <div class="unit" data-collapse-item>
                            <span
                                class="unit__name _deleted"
                                data-id="<%= document.PROT_DOCUMENT_ID %>"
                                ><%= document.DISPLAY_NAME %>
                            </span>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>

     <% if @TASK_QUERY : %>
        <div class="[ form__row _indentShort ]">
            <span class="form__label"><%= App.t 'events.events.task_query' %></span>
            <div class="form__elem"><%= @TASK_QUERY %></div>
        </div>
    <% end %>

    <% if @headers?['task_name'] : %>
        <div class="[ form__row _indentShort ]">
            <span class="form__label"><%= App.t 'events.conditions.crawler_task_name_column' %></span>
            <div class="form__elem"><%= @headers['task_name'][0].VALUE %></div>
        </div>
    <% end %>

    <!-- Tags -->
    <% if @tags.length : %>
        <div class="[ form__row _indentShort ]">
            <span class="form__label"><%= App.t 'events.conditions.tags' %></span>
            <div class="eventDetail__items [ form__col _wrappable ]" data-collapse-container>
                <% include "events/tags", @ %>
            </div>
        </div>
    <% end %>
    <!-- Tags -->
  </div>
  <label for="eventDetails__rollTrigger" class="eventDetails__rollButton"></label>
</div>
