<tr>
    <td>
        <% if ($.i18n.exists "settings.audit_events_properties.#{ @key }") : %>
            <%- App.t "settings.audit_events_properties.#{ @key }" %>
        <% else : %>
            <%- @key %>
        <% end %>
    </td>
    <% for cell in @cells : %>
        <td>
            <% if (_.isString cell) or (_.isNumber cell) : %>

                <% if $.i18n.exists "settings.audit_events_properties_vals.#{ cell }" : %>
                    <%- App.t "settings.audit_events_properties_vals.#{ cell }" %>
                <% else : %>
                    <%- cell %>
                <% end %>

            <% else if cell : %>
                <% for line in cell : %>
                    <div class="<%- line.COLOR %>">

                        <% if line.TYPE : %>
                            <% if $.i18n.exists "settings.audit_events_properties_vals.#{ line.TYPE }" : %>
                               <%- App.t "settings.audit_events_properties_vals.#{ line.TYPE }" %>:
                            <% end %>
                        <% end %>

                        <% if $.i18n.exists "settings.audit_events_properties_vals.#{ line.NAME }" : %>
                           <%- App.t "settings.audit_events_properties_vals.#{ line.NAME }" %>
                        <% else : %>
                           <%= "#{line.NAME}" %>
                        <% end %>
                    </div>
                <% end %>

            <% end %>
        </td>
    <% end %>
</tr>
