<div class="form__row">
    <label class="form__label" for="WORKSTATION[]">
        <%- App.t 'select_dialog.workstation', context: 'many' %>
    </label>
    <div class="form__elem">
        <textarea
            placeholder="<%- App.t 'form.placeholder.search' %>"
            name="WORKSTATION[]"
            data-form-type="select2"
            data-form-server="workstation"
            data-form-local=""
            ></textarea>
        <button
            type="button"
            class="[ button _icon ] [ icon _create ]"
            data-form-title="<%- App.t 'select_dialog.workstation', context: 'many' %>"
            data-form-entry="workstation"
            ></button>
    </div>
</div>
