<div class="[ popup__content size-short ]">
<%- App.t 'global.delete' %><% if @selected.length is 1 : %> <%- App.t("select_dialog.#{@type}_plural_1") %>
<% else : %> <%- @selected.length %> <%- App.t("select_dialog.#{@type}", count: @selected.length).toLowerCase() %>:
<% end %>
<% for i of @selected : %><% if name = @selected[i].getName() : %> <b data-entry-id="<%- @selected[i].id %>" data-entry-type="<%- @type %>"><%- name %></b><%- if +i isnt @selected.length-1 then ', ' else '' %><% end %><% end %>?
</div>
<div class="popup__footer">
    <button class="[ button _success ]" type="submit"><%- App.t "global.#{@action}", context: "success" %></button>
    <button class="button" type="reset"><%- App.t 'global.cancel' %></button>
</div>
