<div class="[ popup__content size-short ]"><%- App.t 'global.move_or_copy' %>
    <% if @selected.length is 1 : %>
    <%- App.t("select_dialog.#{@type}").toLowerCase() %>
    <% else : %>
    <%- @selected.length %> <%- App.t("select_dialog.#{@type}", count: @selected.length).toLowerCase() %>:
    <% end %>
    <% for i of @selected : %>
        <b data-entry-id="<%- @selected[i].id %>" data-entry-type="<%- @type %>"><%- @selected[i].getName() %></b><%- if +i isnt @selected.length-1 then ', ' else ' ' %>
    <% end %>
    <%- App.t 'global.from' %> <% if @section.isRoot() : %> <%- App.t 'global.root', context: 'from' %><% else : %> <%- App.t("select_dialog.#{@section.type}", context: 'title').toLowerCase() %> <b data-entry-id="<%- @section.id %>" data-entry-type="<%- @dest.type %>"><%- @section.getName() %></b><% end %> <%- App.t 'global.to' %> <% if @dest.isRoot() : %> <%- App.t 'global.root', context: 'in' %><% else : %> <%- App.t("select_dialog.#{@section.type}", context: 'to').toLowerCase() %> <b data-entry-id="<%- @dest.id %>" data-entry-type="<%- @dest.type %>"><%- @dest.getName() %></b><% end %>?
</div>
<div class="popup__footer">
    <button class="[ button _success ]" type="submit" data-type="move"><%- App.t "global.move", context: "success" %></button>
    <button class="[ button _success ]" type="submit" data-type="copy"><%- App.t "global.copy", context: "success" %></button>
    <button class="button" type="reset"><%- App.t 'global.cancel' %></button>
</div>
