<div class="popup__content">
    <fieldset>
        <div class="form__row">
            <label for="DISPLAY_NAME" class="form__label"><%- App.t 'protected.catalog.display_name' %></label>
            <div class="form__elem">
                <input type="text" maxlength="256" data-form-autofocus="true" name="DISPLAY_NAME" required  placeholder="<%- App.t 'form.placeholder.name' %>">
            </div>
        </div>
        <div class="form__row">
            <label for="ENABLED" class="form__label">
                <%- App.t 'protected.catalog.enabled' %>:
            </label>
            <div class="form__elem">
                <div class="tumbler">
                    <input class="tumbler__input" name="ENABLED" type="checkbox" <%- if @isActive then '' else 'disabled' %>>
                    <label for="ENABLED" class="tumbler__toggle"></label>
                </div>
                <div class="form__hint"><%- App.t 'protected.catalog.status_hint' %></div>
            </div>
        </div>

        <div style="display: none" class="alert alert-success"><%- App.t 'protected.catalog.status_hint' %></div>

        <div class="[ form__row vertical ]">
            <label for="NOTE" class="form__label"><%- App.t 'protected.catalog.note' %></label>
            <div class="form__elem">
                <textarea name="NOTE" maxlength="1000"></textarea>
            </div>
        </div>

        <% include 'controls/form/date', @ %>
    </fieldset>
</div>
<div class="popup__footer">
    <button class="[ button _success ]" disabled><%- App.t "global.#{@action}", context: "success" %></button>
    <button class="button" type="reset"><%- App.t 'global.cancel' %></button>
</div>
