<div class="queryBuilder__content">
    <div class="[ form__row vertical ]">
        <label class="form__label" data-ui="labelRadio"><%- App.t "entry.table.QUANTITY_THRESHOLD", context: "condition_#{@ENTRY_TYPE}_#{@DETECT_FILLED_FORM}" %></label>
        <div class="[ form__elem size-100 ]">
            <% if @can : %>
            <input type='number' min='1' max='20' pattern="\d+" name="QUANTITY_THRESHOLD" value="<%- @QUANTITY_THRESHOLD or '0' %>">
            <% else : %><%- @QUANTITY_THRESHOLD or '0' %><% end %>
        </div>
    </div>
</div>
