<div class="queryBuilder__content">
    <div class="[ form__row vertical ]">
        <label class="form__label"><%- App.t "entry.table.FINGERPRINT_CONDITION_ID", context: "condition" %></label>
        <div class="[ form__elem size-half ]">
            <% if @can : %>
            <select name="FINGERPRINT_CONDITION_ID">
                <% for condition in @content.conditions : %>
                    <option value="<%- condition.CONDITION_ID %>"><%- if condition.DISPLAY_NAME is 'default' then App.t 'entry.table.default_condition' else condition.DISPLAY_NAME %></option>
                <% end %>
            </select>
            <% else : %>
                <%- if name = _.findWhere(@content.conditions, CONDITION_ID: @FINGERPRINT_CONDITION_ID).DISPLAY_NAME is 'default' then App.t 'entry.table.default_condition' else name %>
            <% end %>
        </div>
    </div>
</div>
