<table class="[ default-table _alignCenter ]">
    <thead>
        <tr>
            <th><%- App.t 'dashboards.widgets.protected_catalogs' %></th>
            <th data-threat-lvl="high"><%= App.t 'dashboards.widgets.threats.High' %></th>
            <th data-threat-lvl="medium"><%= App.t 'dashboards.widgets.threats.Medium' %></th>
            <th data-threat-lvl="low"><%= App.t 'dashboards.widgets.threats.Low' %></th>
            <th><%= App.t 'dashboards.widgets.threats.No' %></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
