<form>
    <% if @type in ['person', 'group', 'resource'] : %>
        <div class="form__row">
            <label for="<%= @type.toUpperCase() %>[]" class="form__label _alignTop"><%= App.t "lists.perimeters.#{@type}" %></label>
            <div class="[ form__elem size-max ]">
                <textarea
                    maxlength="1024"
                    placeholder="<%- App.t "lists.perimeters.#{@type}_placeholder" %>"
                    name="<%= @type.toUpperCase() %>[]"
                    data-form-type="select2"
                    data-form-server="<%= @type %>"
                    data-form-minimum-input-length="1"
                    data-form-separator="||"
                ></textarea>
                <button
                    type="button"
                    class="[ button _icon ] [ icon _create ]"
                    data-form-title="<%- App.t "select_dialog.#{@type}", context: 'many' %>"
                    data-form-entry="<%= @type %>"
                ></button>
            </div>

            <div class="[ form__elem size-auto ]">
                <button class="[ button _icon ] [ icon _delete ] delete_item"></button>
            </div>
        </div>

        <% if @type isnt 'resource' : %>
            <div class="form__row">
                <label class="form__label"></label>
                <div class="form__elem">
                    <label class="form__checkbox">
                        <input maxlength="1024" <%= "disabled" if @helpers.islock({action:'edit', type: 'perimeter'}) %> type='checkbox' name='<%= @type.toUpperCase() %>_USE_EMPLOYEE_CONTACTS_ONLY'><span></span> <%= App.t 'lists.perimeters.use_work_contacts'%>
                    </label>
                </div>
            </div>
        <% end %>
    <% else : %>
        <div class="form__row">
            <label class="form__label _alignTop"><%= App.t "lists.perimeters.#{@type}" %></label>

            <div class="[ form__elem size-max ]">
                <textarea
                    maxlength="1024"
                    placeholder='<%- App.t "form.placeholder.#{@type}" %>'
                    name="<%= @type.toUpperCase() %>[]"
                    data-form-type="select2"
                    data-form-local="<%= if @type is 'url' then 'url,ip' else @type %>"
                    data-form-minimum-input-length="1"
                    data-form-separator="||"
                    ></textarea>
            </div>
            <div class="[ form__elem size-auto ]">
                <button class="[ button _icon ] [ icon _delete ] delete_item"></button>
            </div>
        </div>
    <% end %>
</form>

