<div class="contentHeader">
    <h2 class="contentHeader__title"><%- @resourceGroup %></h2>
</div>

<div class="toolbar">
    <div class="toolbar__pagination" id="resources_paginator"></div>
    <div class="toolbar__actions">
        <div class="buttonSet">
            <button
                class="[ button _icon ] [ icon _create ]"
                data-action="create_resource"
                title="<%= App.t 'lists.resources.create' %>"
                disabled>
            </button>
            <button
                class="[ button _icon ] [ icon _edit ]"
                data-action="edit_resource"
                title="<%= App.t 'lists.resources.edit' %>"
                disabled>
            </button>
            <button
                class="[ button _icon ] [ icon _delete ]"
                data-action="delete_resource"
                title="<%= App.t 'lists.resources.delete' %>"
                disabled>
            </button>
        </div>
    </div>
</div>

<form class="form">
        <div class="form__row">
            <div class="form__elem">
                <input data-action="search" type="text" placeholder="<%= App.t 'lists.resources.search_placeholder' %>">
            </div>
        </div>
    </form>

<div class="content__indent _scrollable">


    <div id="resource_list_items" style="height: 100%"></div>
</div>
