<div class="contentHeader">
    <h2 class="contentHeader__title"><%- App.t 'select_dialog.policy', context: 'many' %></h2>
    <div class="contentHeader__toolbar _positionRight">
        <div class="buttonDropdown dropdown">
            <button
                class="[ button _caret ] dropdown-toggle"
                data-toggle="dropdown"
                id="create-policy-button">
                <%- App.t "entry.policy.add" %>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="create-policy-button">
                <li><button type="button" data-action="addPolicy" data-type="OBJECT" data-empty='1'><%- App.t "entry.policy.OBJECT", context: 'empty' %></button></li>
                <li><button type="button" data-action="addPolicy" data-type="PERSON"><%- App.t "entry.policy.PERSON" %></button></li>
            </ul>
        </div>
        <button class="button policy__filter" data-action="filter"><%- App.t "global.filter" %></button>
    </div>
    <div class="policyFilter" data-ui="filter" style="display: none">
        <div class="policyFilter__item"><span class="policyFilter__item_info"></span></div>
        <button type="reset" class="[ button _sizeS ]" data-action="reset"><%- App.t "global.reset", context: 'filter' %></button>
    </div>
</div>
<div class="content__indent _scrollable" data-ui="list">
    <% for item in @types : %>
    <h2 class="policy__title"><%- App.t "entry.policy.#{item}", context: 'many' %>:</h2>
    <div class="policy__list" data-block="<%- item %>" data-empty-title="<%- App.t "entry.policy.empty" %>"></div>
    <% end %>
    <div class="empty-block__message" data-ui="emptyPolicy"><%- App.t "entry.policy.empty", context: "policy" %></div>
</div>
